[2019-08-02 20:04] diosmosis opened #1 "If report purging feature is active, warn user and change import to import as few as possible"
Since the report purging feature will just delete old reports, we don't need to import them. And we should let users know so they aren't surprised.

[2019-08-05 02:37] mattab opened #2 "Importing into an existing website in Matomo (not creating a new one)"
Currently each GA data import will create a new website in Matomo. Instead it would be great to let users choose, while preparing to import GA data, whether:
* to create a new website to import the GA property
* to import the data into an existing website ID in Matomo (eg. showing our website selector)

This will be valuable because often people want to migrate their Google Analytics web data afte

[2019-09-04 14:35] pioc92 opened #4 "encountered URL twice in result set"
Hi all, i tried your plugin but my import jobs failed with this error status:

encountered URL twice in result set

[2019-09-05 01:40] diosmosis commented on #4
Hi @pioc92, thanks for the bug report! I think this is due to a typo, which I've fixed in git master. Would you be able to try the latest changes by checking the plugin out from git?

[2019-09-05 12:36] pioc92 commented on #4
hum i tried and i have the same error but not with the same url...

[2019-09-05 13:12] diosmosis commented on #4
@pioc92 can you try running the CLI command with the idsite that was created and `-vvv`? This should provide a stack trace for the error.

[2019-09-06 08:15] diosmosis commented on #4
@pioc92 one other question: the error message should have the URL it encountered twice (ie, "encountered URL twice in result set: /blah/blah/blah"), do you see that?

[2019-09-07 17:13] pioc92 commented on #4
Yes i see that:

Error message: Unexpected error: encountered URL twice in result set: https://routeur4g.fr/discussions/discussion/344/700mhz-agregation-antenne

I can't test in CLI mode, sorry

[2019-09-07 17:19] pioc92 commented on #4
I found in google analytics the 2 urls:
https://routeur4g.fr/discussions/discussion/344/700mhz-agregation-antenne
https://routeur4g.fr/discussions/discussion/344/700mhz-agrégation-antenne

That's why the plugin can't import the urls!

[2019-09-07 17:25] diosmosis commented on #4
Ah, interesting, one has unicode... Ok, I can look into a fix now, thanks for looking into this!

[2019-09-11 08:22] diosmosis commented on #4
@pioc92 I tried, but I'm still not able to reproduce this (for me the URLs are treated correctly as separate URLs). Can you tell me what php version you are using? And if possible can you try running the following php code and tell me what the output is:

[code]

Otherwise, if you're willing to provide temporary access to your GA account (for this one property), I can try to reproduce it some more

[2019-09-11 09:44] pioc92 commented on #4
hi,

result of the test :
array (
  'https://routeur4g.fr/discussions/discussion/344/700mhz-agregation-antenne' => 1,
  'https://routeur4g.fr/discussions/discussion/344/700mhz-agrégation-antenne' => 2,
)

i can give you an access, dm me a mail

[2019-09-11 09:45] pioc92 commented on #4
php version 7.3.9

[2019-09-11 09:50] pioc92 commented on #4
php PHP Version 7.1.24-1+ubuntu16.04.1+deb.sury.org+1

[2019-09-11 14:02] diosmosis commented on #4
@pioc92 dm through the forums you mean? AFAIK the private message system on github doesn't exist anymore.

[2019-09-11 16:20] pioc92 commented on #4
I made an account on matomo forum.

[2019-09-11 16:27] pioc92 commented on #4
I send a mail to support@matomo.com

[2019-09-13 07:20] #4 closed

[2019-09-26 01:29] tiurlumbangaol opened #8 "Error when executing Google Analytics Import through SSH console terminal"
Error when executing Google Analytics Import through SSH console terminal, with this command :

`./console googleanalyticsimporter:import-reports --property=UA-XXXXXXXX-X --view=XXXXXXXX --dates=2019-09-01`

the error saying :
Fatal error: Class 'Piwik\SettingsServer' not found in /home2/softbless/analytics.softbless.com/core/testMinimumPhpVersion.php on line 87

I'm using Matomo Beta 3.12.0-b4 ve

[2019-09-26 04:42] diosmosis commented on #8
This looks like a different error occurred early on and the fatal error is covering it up. In the `testMinimumPhpVersion.php` file, can you temporarily change the `Piwik_ShouldPrintBackTraceWithMessage` function to:

[code]

and run the command w/ `-vvv`?

[2019-09-26 06:57] tiurlumbangaol commented on #8
hi.
the output is now :

Unfortunately it seems your webserver is using PHP version 5.4.45.

Please try to update your PHP version, Matomo is really worth it! Nowadays most web hosts
support PHP 5.5.9.

Also see the FAQ: My Web host supports PHP4 by default. How can I enable PHP5?

-------------------------
I install matomo on hostgator hosting, then i change the version to become : 5.6.30
i tried

[2019-09-26 07:59] Findus23 commented on #8
Hi,

Honestly this is something the support of your host can help you better with.
But maybe instead of executing it directly (`./console`), specify the exact php executable (`php ./console`). This way you can be sure it uses the same PHP as when you run `php -v`.

[2019-09-26 08:54] tiurlumbangaol commented on #8
hi @Findus23
thanks a lot for the tips! it is really helpful for me. and it's working.

[2019-10-20 11:43] tiurlumbangaol opened #9 "adding row to table with empty label"
Hi, i run my google analytics import, until 2012-2014 is working well, but it got error lately, the error is :

INFO [2019-10-20 11:40:40] 105  Importing data for GA View xxxx for date 2015-04-04...
Running archiving for newly imported data...nohup: ignoring input and redirecting stderr to stdout

Fatal error: Class 'Piwik\SettingsServer' not found in /home2/xxxx/analytics.xxxx.com/core/testMinimu

[2019-10-20 11:52] tiurlumbangaol commented on #9
solved by using solution from issue #8

[2019-10-20 11:52] #9 closed

[2019-10-28 02:13] RickyRomero opened #10 "Importer should explicitly require Account ID"
Plugin: 1.0.2
Matomo: 3.12.0-rc2

Hi,

I tried to set this plugin up on behalf of my wife, who is trying to migrate off of G Suite. I followed the guide [on this page](https://matomo.org/docs/google-analytics-importer/), but after setting up the OAuth permissions and credentials, when I clicked `Schedule an Import`, the button did nothing. I opened up the web inspector for clues and only found a s

[2019-10-28 10:57] diosmosis commented on #10
For the first error, can you ensure the plugin is activated, then run `./console cache:clear`, then clear your browser cache and reload the page? The error is stating the controller doesn't exist, which suggests the JS being loaded doesn't include the new JS.

For the second error, can you run the command w/ `-vvv`? This should display a stack trace. I'm not sure exactly why the permissions error

[2019-10-28 23:46] RickyRomero commented on #10
@diosmosis Thanks for the fast reply and diagnostics!

I tried your second suggestion first, in case clearing the cache fixed the problem. [Here is the stack trace](https://gist.github.com/RickyRomero/79c230bd00f6aa16879e9990a3624bf8).

As for clearing the cache... It didn't end up fixing the permissions bug, but it did fix the UI error. Here are screenshots of the settings I used and what happene

[2019-10-29 18:04] diosmosis commented on #10
The view ID should be under 'Views' in GA in this popup:

![image](https://user-images.githubusercontent.com/125140/67795573-b0ef5480-fa3b-11e9-963e-1a6e4db80836.png)

Did you try running the CLI command w/ the `-vvv` option? That will provide a stack trace to show which specific API request to GA is failing.

[2019-10-30 00:35] RickyRomero commented on #10
@diosmosis Thanks for that. I just checked that menu and verified that I used the correct IDs.

[Here's a link to the gist for the stack trace](https://gist.github.com/RickyRomero/79c230bd00f6aa16879e9990a3624bf8).

[2019-10-30 19:01] diosmosis commented on #10
@RickyRomero Sorry, I see now I missed the original link for the stack trace.

Ok, it's definitely something on the Google side of things, though I'm not sure what exactly. Can you ensure that the account ID in GA is `16474406`? Is the user you're using to access the analytics account the user that owns the analytics property? Also if you made a change to the oauth consent screen after uploading t

[2019-10-31 04:37] RickyRomero commented on #10
These appear to be the relevant IDs for Heather's G Suite account:

**Account ID:** `104121435`
**Property ID:** `UA-16474406-1`
**View ID:** `32780573`

I started writing a long response giving lots of thorough detail about the issue and how I wasn't getting anywhere. Long story short, I stumbled across this function as I tried to get more clues as to what was happening.

https://github.com/matom

[2019-10-31 05:02] RickyRomero opened #11 "Respect API error 429 with exponential back-off"
After getting data import working using the command line (see #10), I quickly encountered an API rate limit issue that isn't being handled correctly.

[code]

These 429 errors continued until I stopped the script.

[According to the Analytics Reporting API documentation](https://developers.google.com/analytics/devguides/reporting/core/v4/errors?hl=en_US), the `USER-100s` error means we're sending

[2019-10-31 12:11] diosmosis commented on #11
The plugin waits if 429 errors continue, however the USER-100s limit doesn't appear to really be 10 requests per 100s. We could probably wait longer in between requests, though (how long did you wait before stopping the script?).

Note: There is also a 50,000 daily request limit that will be reached at around 4 months of data. Imports are started and stopped through scheduled tasks and will be pic

[2019-10-31 12:16] diosmosis commented on #10
Thanks for debugging the issue and finding the root cause! I'll be able to fix this issue after the weekend.

Note: the account ID is only assumed in the command when `--account` is not specified. When the import job is restarted the next day (which it should even if you start the import from the command line), the account you entered in the option will be used.

[2019-11-03 20:37] #10 closed

[2019-11-03 20:37] #11 closed

[2019-11-03 20:43] diosmosis commented on #10
@RickyRomero this should be fixed in version 1.0.3, let me know if you experience any more issues.

[2019-11-03 21:02] RickyRomero commented on #10
Thank you so much! 🎉

[2019-11-06 14:05] siksmsi opened #14 "Import cannot run if shell_exec()/exec() is not available"
After starting an Import from Google Analytics and click on the running import task, I get the following error:

An error occurred
The parameter 'period' isn't set in the Request, and a default value wasn't provided.

I have set the start and end date in the format 2015-01-01 and 2019-11-05.

What goes wrong?

In the status field are the following informations:

started

Last Day Imported: -
Last

[2019-11-06 15:00] diosmosis commented on #14
This has to do w/ the URL, something is trying to access the `period` parameter but it's not always set for admin pages. I should be able to fix this later.

You should be able to workaround it by adding `period=day&date=today` to the URL on the admin page (let me know if that doesn't work).

[2019-11-06 15:06] siksmsi commented on #14
Thank you. If I add this parameter, the admin page would load correct.

BUT the main problem is, that the import does  not run correctly. I start the Import but it does not import the data. It creates the site and imports the site name etc. but do not import the data. Since hours this status:

started

Last Day Imported: -
Last Day Archived: -
Import End Date: 2019-11-06

Import Start Time: 2019-1

[2019-11-06 17:19] diosmosis commented on #14
This is likely a different issue... can you look for the log for that import? It should be in `tmp/logs/` and start with `gaimportlog.<siteId>`. If it's not there you can try initiating the import using the command line w/ the `-vvv` option (see https://matomo.org/docs/google-analytics-importer/#using-the-command-line).

[2019-11-06 19:36] siksmsi commented on #14
Attached you will find the log file. Do you get some information out of this file?

[gaimportlog.10.log.koelner-newsjournal.de.log](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/3816374/gaimportlog.10.log.koelner-newsjournal.de.log)

[2019-11-06 19:54] diosmosis commented on #14
That looks like the matomo login screen, did you try to access it through the browser? It may not exist in which case to debug further we'd have to run the command.

[2019-11-07 06:59] diosmosis commented on #14
In case you're not able to run CLI commands on your install, it is also possible to debug by changing some individual files in your matomo. If this is something you can/rather do let me know.

[2019-11-07 08:06] siksmsi commented on #14
I am not able to run CLI commands. But I am able to changing some individual files. What do I have to do?

[2019-11-08 00:00] diosmosis commented on #14
@siksmsi replace '/path/to/matomo/plugins/GoogleAnalyticsImporter/Tasks.php` with https://gist.github.com/diosmosis/3e1ae6d9c6d642cd6f2046c9f045e855

then replace '/path/to/matomo/plugins/GoogleAnalyticsImporter/angularjs/import-scheduler/import-scheduler.controller.js` with https://gist.github.com/diosmosis/cc2b1a67f1d1c6c6747761be104d6999

(make sure to backup the files so it will be easy to rev

[2019-11-08 00:22] diosmosis commented on #14
I couldn't reproduce the other issue you experienced. To get more information for that one, change this line: https://github.com/matomo-org/matomo/blob/3.x-dev/index.php#L24 to `define('PIWIK_PRINT_ERROR_BACKTRACE', true);`

[2019-11-08 06:19] siksmsi commented on #14
Thank you again. I replaced the two files, deactivated the plugin. Deleted the cache. Activated it again. But no error output on the import screen. No change in the status. And now I could  not start a new import. It shows the attaced error in the console after clicking the button. There is no http request with "module=GoogleAnalyticsImporter&action=startImport" in the network tab. Does it help, i

[2019-11-08 06:33] diosmosis commented on #14
@siksmsi yes providing login credentials would help, can you email support@matomo.org? We can debug further from there.

[2019-11-08 06:46] siksmsi commented on #14
I have send you the data via email right now.

[2019-11-08 20:05] dbrgn opened #15 "Add docs for core:archive cron and for how to debug imports"
I've set up an import job:

![image](https://user-images.githubusercontent.com/105168/68507054-4e802a80-026b-11ea-88f0-aa489f3e99dd.png)

It worked fine the first day until it ran into the rate limiting. That was expected.

However, that was 3 days ago. Shouldn't the importer have continued on 2019-11-06? Do I need to set up a special cronjob for this task? Is there a way to debug the plugin?

[2019-11-08 22:01] diosmosis commented on #14
The problem here is that shell_exec()/exec() is not available to use in PHP on the machine. We can add an alternative mechanism to initiate imports in the background via API methods using curl in the background (ie, using a client side timeout of ~1-2s). Though this would be a problem if the server cut off the request after a certain amount of time.

Another alternative would be to insert records

[2019-11-08 22:36] diosmosis commented on #15
It should continue every day via a scheduled task. Scheduled tasks are usually run through the `core:archive` command when it is setup via cron. If that's not setup via cron, they may be launched during specific tracking requests.

Ideally you would just need to have the core:archive cron setup. The plugin hasn't been tested w/ scheduled tasks run through the tracker.

The import process logs outp

[2019-11-08 22:51] dbrgn commented on #15
I don't use tracking requests since I rely exclusively on server log analytics.

I only set up cronjobs today. I ran the `core:archive` task manually, but that did not trigger the importer, or at least not directly... Could it be that it doesn't directly trigger the importer, but instead schedules another task that may only run in a few hours? In that case this issue could probably be closed. (May

[2019-11-08 23:01] diosmosis commented on #15
Tasks are run at certain times of day, while the core:archive command is meant to be run hourly. So it may not launch every scheduled task each time. If the import command doesn't run automatically the next day, then there's something strange going on.

[2019-11-08 23:09] dbrgn commented on #15
Ok, thank you for your help! I'll close this issue for now. If anything can be improved here, then maybe it's the docs, but the jobs do seem to work as intended :slightly_smiling_face:

[2019-11-08 23:12] diosmosis commented on #15
Feel free to leave it open, it makes sense to improve the docs 👍

[2019-11-09 05:46] siksmsi commented on #14
Thank you for your support diosmosis.

I need only one import. Because we want to completely switch over to Matomo. Do you have a workaround for me, which I can use in short term?

Would it be helpful, if I can grant a SSH access? The provided FTP data could also be used for SSH.

How many API requests would be used? I ask because of the free limit of Google.

[2019-11-09 05:47] siksmsi commented on #14
Or would it be possible to activate shell_exec()/exec()  on an 1&1/Ionos webhosting account?

[2019-11-09 06:07] siksmsi commented on #14
I now have access via SSH. If I start the import via ./console googleanalyticsimporter:import-reports --property=UA-#######-1 --view=###### --dates=2015-03-15,2019-11-05 I get the error "permission denied".

I send you the correct login credentials for SSH via email.

[2019-11-10 07:32] siksmsi commented on #14
Here is what happens, when I start the import via SSH:

![1](https://user-images.githubusercontent.com/30862637/68540568-90f15680-0394-11ea-88b0-1f9fcc53869e.jpg)
![2](https://user-images.githubusercontent.com/30862637/68540569-9189ed00-0394-11ea-9c1e-658985577127.jpg)

[2019-11-10 08:29] diosmosis commented on #14
@siksmsi sent you a reply by email

[2019-11-12 02:08] diosmosis opened #17 "If shell_exec()/exec() is not available allow using API methods to manage archives"
On some systems it's not possible to use shell_exec()/exec() to start the import. We can provide an alternative by providing a way to initialize imports via API methods.

This would require:
- an API method to import entities
- an API method to start an import for a day and when finished invoke the next day if the daily API request limit hasn't been reached
   * we only do one day at a time to avo

[2019-11-12 06:52] tbnv opened #18 "Error with nohup when running Google Analytics Importer on macOS"
When running Google Analytics Importer on macOS (10.15), this error appears in the log:
`nohup: can't detach from console: Inappropriate ioctl for device`

The import doesn't seem to go further after that.
No other error or system config issue detected in Matomo.

[2019-11-14 07:57] tbnv opened #20 "Pointless mysql query to keep connection alive… doesn't work?"
Hi,

Still getting timeouts and "mysql server has gone away" errors despite the "pointless mysql query to keep connection alive".

[code]

[2019-11-14 08:01] diosmosis commented on #20
Well, I had hoped it would. Are you able to diagnose the specific problem with your mysql config (see https://matomo.org/faq/troubleshooting/faq_183/ for possible causes)?

[2019-11-14 09:09] tbnv commented on #20
This instance of Matomo is installed on a shared hosting, so I unfortunately don't have access to the `my.cnf` to change these parameters. The hosting provider apparently set `wait_timeout` and `interactive_timeout` to 30 seconds.

In their FAQ they suggest to run a script that regularly pings or queries, test if the connection still exists, and restart it if necessary.

[2019-11-14 20:12] diosmosis commented on #20
The query added in the new release is the regular query to keep the connection alive. However, the plugin waits at most a minute in between queries if rate limited, so I suppose there needs to be more pointless queries in your case. I'll be able to add that change today.

[2019-11-15 11:06] tbnv commented on #20
Great, thanks.

[2019-11-15 13:05] diosmosis commented on #20
@tbnv can you see if these changes work for you: https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/21 ?

[2019-11-16 07:32] tbnv commented on #20
Just tested that and it seems it's working.

Running into another problem but I guess this one is on GA's side ("Failed to reach GA after 30 attempts. Restart the import later.").

[2019-11-16 14:48] diosmosis commented on #20
You can run the command w/ `-vvv` to get more information in that case. It should show the response from GA when it fails, though that means there will be quite a bit to look through. If the daily limit were reached, the plugin would know, so the error you're getting must be something else.

[2019-11-18 06:36] diosmosis commented on #20
Fixed by #21

[2019-11-18 06:36] #20 closed

[2019-11-19 11:46] diosmosis commented on #14
Closing in favor of #17

[2019-11-19 11:46] #14 closed

[2019-11-20 11:06] ja573 opened #22 "Cannot undo upload of wrong config file"
Uploading a wrong config file causes error "Missing client configuration.". There is no way to reupload the configuration file without deleting the option in the database.

[2019-11-20 11:12] diosmosis commented on #22
@ja573 there should be a section in the UI for this:

![image](https://user-images.githubusercontent.com/125140/69234258-8f1d5500-0b43-11ea-832b-b8a5abbc5d15.png)

[2019-11-20 11:43] #22 closed

[2019-11-25 14:51] arieljlira opened #24 "Invalid Timezone for site on import"
I've found the following error when importing a new site from Google Analytics.

I'm using 1.0.6 release with matomo 3.13.0.rc1. The same occurred with  1.0.3+ and 3.12.0+

The command used was

[code]
Indeed, America/Buenos_Aires is not a valid php timezone. I think this data is coming from google analytics view . See
![image](https://user-images.githubusercontent.com/845265/69549113-6e0b9880-0f7

[2019-11-25 15:33] diosmosis commented on #24
👍 thanks for the report and analysis!

[2019-11-25 19:32] jphorn opened #25 "Import deprecated app properties"
As you've might have read Google has [sunsetted the Google Analytics Services SDK](https://support.google.com/firebase/answer/9167112?ref_topic=6386699), which was in use by many (older) (iOS) apps. We have used this SDK from March 2013 until its sunset data October, 31st 2019.
I'm looking to back-up/import this historical data in my Matomo instance, but the GoogleAnalyticsImporter plugin is expec

[2019-11-25 19:43] diosmosis commented on #25
@jphorn the property you're trying to import doesn't have a URL (because it's an app), correct?

[2019-11-25 19:44] jphorn commented on #25
Correct. It's a property for an iOS app.

[2019-11-25 19:44] diosmosis commented on #25
This might be an easy fix, I'll see if I can put up a PR for testing.

[2019-11-25 19:46] jphorn commented on #25
It'd be happy to add you or someone else to this property with Read and Analyze capability if necessary for testing.

[2019-11-25 22:07] diosmosis commented on #25
@jphorn could you try testing with this PR: https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/26 ? Right now I've only modified the CLI command for importing. If it works for you for a small date range, I'll add the ability to specify the property is a mobile app in the UI. If it doesn't work, then that likely means the import data is different for mobile app properties, and I woul

[2019-11-27 17:49] diosmosis commented on #25
@jphorn Were you able to test the updated code? Do you need any help? Let us know if it's not possible for you to test it.

[2019-11-27 18:27] jphorn commented on #25
Hi @diosmosis. Apologies for not replying sooner. Alas I'm unable to test your PR myself, since my Matomo self hosted instance was installed for me and I'm not sure how to deploy the PR. I have added support@matomo.org to the specific view though so you're able to test with my data. Would that be sufficient?

[2019-11-27 19:50] diosmosis commented on #25
@jphorn I emailed you at your iculture.nl address w/ a google email you should be able to use.

[2019-11-28 00:24] #24 closed

[2019-12-01 17:29] prathers opened #29 "Label column not found"
After starting migrating GA data, I get an error in dashboard and different views:
`Label column not found in the table to add in addDataTable() - in plugin Referrers`

Matomo 3.13.0

[2019-12-01 20:38] diosmosis commented on #29
Can you provide a screenshot and the URL you were viewing when the error occurs?

[2019-12-01 21:05] diosmosis commented on #29
Also, what version of the importer are you using?

[2019-12-02 08:12] prathers commented on #29
URLs:
`https://domain.tld/index.php?module=CoreHome&action=index&idSite=9&period=range&date=previous30&updated=1#?idSite=9&period=range&date=2007-06-02,2007-12-01&segment=&category=Dashboard_Dashboard&subcategory=1`
and:
`https://webstat.rather.dk/index.php?module=CoreHome&action=index&idSite=9&period=range&date=previous30&updated=1#?idSite=9&period=range&date=2007-06-02,2007-07-31&segment=&catego

[2019-12-02 09:21] denarie opened #32 "Error during import"
Just started a new import from Google Analytics and got the following error message:
`Error message: Error on day 2017-03-20, { "error": { "code": 400, "message": "Unknown metric(s): ga:totalValue, ga:transactions\nFor details see https://developers.google.com/analytics/devguides/reporting/core/dimsmets.", "errors": [ { "message": "Unknown metric(s): ga:totalValue, ga:transactions\nFor details see

[2019-12-02 10:21] Mich-es opened #33 "Google Analytics Importer doesn´t work"
Hi,

i set up the GA-Importer and in the setup all works fine. I start the import. Bute a few hours later - nothing change. After a day - nothing change:
![3d383928e5c3f2ca5f0b3e1f00afa0cf645a2fa3_2_1380x524](https://user-images.githubusercontent.com/58422824/69951190-16c87380-14f5-11ea-81ea-3087779d7a8d.png)

Now i try to import via console - it works - but between 10 an 15 minutes i becaome a te

[2019-12-02 14:22] diosmosis commented on #29
Can you check the referrers reports during a single day? Does it work and are there any funny rows that are missing labels?

Can you email the logs for the import to benaka@innocraft.com (you would be able to find them in the `tmp/logs/gaimportlog.$idSite.log` files)? And, also, would you be willing to provide access to your GA or Matomo?

[2019-12-02 15:36] diosmosis commented on #32
That's an odd error, given both of those metrics are listed in the link in the error message (https://developers.google.com/analytics/devguides/reporting/core/dimsmets). Is there anything special about your property? Do you have ecommerce disabled for the view you are trying to import?

[2019-12-02 18:06] diosmosis commented on #33
the command in your screenshot is missing the quotes.

You can try to run the import command with `-vvv` to get more output (see https://matomo.org/docs/google-analytics-importer/#using-the-command-line). Please run the command in that document (`googleanalyticsimporter:import-reports`) with `-vvv` and paste the output.

[2019-12-02 19:59] Mich-es commented on #33
No, it doesn´t work.  The qoutes are on it, but ie see the "_" instead of "." i ran it again with -vvv

![google_analytics_importer](https://user-images.githubusercontent.com/58422824/69990711-8c106480-1546-11ea-88e4-e3f666929678.jpg)

[2019-12-02 20:13] diosmosis commented on #33
That's strange, but it's not related to this plugin (or the "Terminated." error).

Please run the other command described in the user guide I linked to and provide the output.

[2019-12-02 20:14] diosmosis commented on #33
Also, can you run `php --version` and paste the output?

[2019-12-02 20:23] diosmosis commented on #33
One more question: can you tell me how you're hosting matomo? shared hosting/cloud/...

[2019-12-03 07:07] prathers commented on #29
There is no referrers at all for the migrated period.
Unfortunately, the importer overwrites the log-file every night.

Can it be that the data from GA is too old (<2008)?

[2019-12-03 07:18] Mich-es commented on #33
`php --version`
`PHP 7.3.11 (cgi-fcgi) (built: Oct 29 2019 14:11:43)
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.11, Copyright (c) 1998-2018 Zend Technologies
`
Hosting is shared.

./console googleanalyticsimporter:import-reports --property=UA-XXX-XX --view=XXXX --account=XXXX --idsite=4 -vvv

[code]

I don´t understand this limit - ist was the first time since 2019-11-30
If i run:
`./c

[2019-12-03 15:17] diosmosis commented on #33
Is there a CLI php that is accessible to you? For example, `php-cli`, `php7-cli`, etc.? If there is one with the same version, you could try running commands with that instead.

That is a rate limiting error, it's not important (the message can be useful for debugging/developing, but not here). You can ignore it.

It looks like your host is just terminating processes before they can finish. This i

[2019-12-03 15:21] diosmosis commented on #29
Then it's definitely experiencing an issue with the GA referrers data and failing to import it.

Yes, that's probably the overall reason, the GA API response changes based on how old the data is, and sometimes for old data the API will randomly respond with nothing. I can probably find the cause and a fix if you can provide temporary access to your GA account. Or alternatively you could add some e

[2019-12-03 17:08] Mich-es commented on #33
Thanks for help!
I switch matomo until this week to a V-Server and try again an give u a feedback

[2019-12-04 17:15] denarie commented on #32
Thank you for your advice: I opened the view in Google Analytics, then enabled ecommerce, saved it, disabled it, saved it again. Then I started the import again. Now it is still running! I think that did the trick!

[2019-12-04 17:46] diosmosis commented on #32
I'm glad it's working, though I can't explain why :). I'm going to close this issue, feel free to re-open it if it starts failing again.

[2019-12-04 17:46] #32 closed

[2019-12-04 21:24] diosmosis opened #35 "Continue import even if importing for a specific plugin fails"
Since it's too hard to predict exactly how GA will behave in every circumstance, it would be better recover in face of most errors. We can do this by storing and reporting all errors and allowing those failed dates/plugins to be re-imported.

Todo:
* If a plugin fails to import, add the error to a list in the import status entity and continue.
* On the import status page, report on every error enc

[2019-12-05 23:47] diosmosis commented on #25
This is working on master, closing.

[2019-12-05 23:47] #25 closed

[2019-12-07 00:46] diosmosis commented on #29
Hi @prathers I've recently released version 1.1.0 of this plugin which includes an option to enable verbose logging. If you follow the instructions in the user guide for this feature: https://matomo.org/docs/google-analytics-importer/#troubleshooting, you should be able to provide us with information we can use to debug and hopefully solve this issue.

[2019-12-07 06:22] prathers commented on #29
I'll try that. Unfortunately it's not an option to give access to the GA account but I'll try the verbose logging and get back to you

[2019-12-07 16:38] prathers commented on #29
It'll boil an output the coming night and I'll mail you the result

[2019-12-11 16:02] denarie opened #44 "Uncaught exception: Error: Call to undefined method"
When starting the importer I get the following error:

WARNING: matomo/plugins/GoogleAnalyticsImporter/Controller.php(271): Notice - Undefined variable: importStatus - Matomo 3.13.0 - (Module: GoogleAnalyticsImporter, Action: startImport, In CLI mode: false)

[2019-12-11 16:29] denarie commented on #44
Sorry, I did not have the newest version of the importer.

I updated the importer and started another import. I don't see anything on the matomo view, even verbose mode does not show any output. I started the job on the command line:

`php ./console googleanalyticsimporter:import-reports --property=UA-XXX --account=XXXX --view=XXX`

And got the following error:

[code]

[2019-12-11 16:56] diosmosis commented on #44
Hi @denarie , thanks for the bug reports and apologies for the inconvenience! Both will be fixed shortly.

[2019-12-11 19:29] diosmosis commented on #44
@denarie this should be fixed in 1.1.2.

[2019-12-11 19:29] #44 closed

[2019-12-12 03:20] diosmosis commented on #29
Closing since the last email indicates this now works.

[2019-12-12 03:20] #29 closed

[2019-12-12 04:07] mattab commented on #2
Note: importing into an existing website will cause problem if the existing site has data already tracked. It's common for people to use both Matomo and GA for a while, and maybe later delete the GA code. So we'd want to make sure to import the data only until the site starts to have data in Matomo (VisitsSummary.get > 0)...

[2019-12-12 07:12] tsteur commented on #2
It be also a problem when periods are invalidated as part of a regular invalidation etc. Eg yearly archive etc.

[2019-12-12 08:08] diosmosis commented on #2
@tsteur  That could be problematic, we'd need a way to avoid invalidation for imported data... that should be fixed soon I think.

[2019-12-12 08:40] Mich-es opened #45 "Error Message Backend"
Since the latest Version, in the Backend appears a error message:

`errored
Error message: Error on day 2012-01-04, { "error": { "code": 400, "message": "Unknown metric(s): ga:totalValue, ga:transactions\nFor details see https://developers.google.com/analytics/devguides/reporting/core/dimsmets.", "errors": [ { "message": "Unknown metric(s): ga:totalValue, ga:transactions\nFor details see https://d

[2019-12-12 18:52] tsteur commented on #2
@diosmosis if this is related to Matomo for WordPress we could just create a new site there and import it into that site. We could create a site by eg directly calling `addSite` on the API class etc. The site selector would be still shown so it should all work.

I reckon this feature can create quite a few problems and confusion etc (eg creating a segment shows only partial data etc) might be a lo

[2019-12-12 19:12] diosmosis commented on #45
This has happened before for another user, they were able to resolve by disabling and re-enabling ecommerce in their GA property settings. Can you see if that would work for you? If not, you'll need to reach out to GA since both of those metrics are listed in the link in the error message.

[2019-12-12 19:15] diosmosis commented on #2
@tsteur The invalidation issue should affect everyone really, if a user tries to invalidate an old archive that was imported, and the archiving runs, the data that was imported will be lost. There should probably need to be a way to prevent it.

Other than that only today will be invalidated and re-archived from logs. The other reports should just re-aggregate day archives ... except for unique vi

[2019-12-12 20:23] tsteur commented on #2
Maybe once the data has been archived, we simply stop the archiving for that site and always skip it?

[2019-12-12 20:25] diosmosis commented on #2
Right now users can track into an imported site so the imported and new stats are together. Is there a mechanism to stop archives for purged data from being invalidated?

[2019-12-12 20:35] tsteur commented on #2
I see. I would say we maybe shouldn't support tracking into an imported site that be easiest.

[2019-12-12 20:36] tsteur commented on #2
It is always possible to use RollUp Reporting if someone wanted to see data aggregated I suppose.

[2019-12-12 20:39] diosmosis commented on #2
That would also mean closing this issue altogether then. Guess it's not an issue w/ roll-up reporting, though perhaps a bit inconvenient... Might be more inconvenient for wordpress. CC @mattab

We do also have the start/end date that was imported. We could also just make sure invalidation doesn't work for those dates (somehow).

[2019-12-12 20:48] mattab commented on #2
Fyi there is already logic in the invalidateReports API which would not invalidate the reports if there is no RAW data for this day. @diosmosis

 unfortunately wouldn't work because Roll-Up reporting aggregates the data from the logs. @tsteur

Let's not work on this issue for now, but keep it opened as we may want to work on this later..

[2019-12-12 20:50] diosmosis commented on #2
That's good, though there's still an issue w/ unique visitors and periods involving today, ie, this week, this month, this year. If aggregating unique visitors from logs is enabled, Matomo may end up erasing the imported unique visitors.

[2019-12-12 21:34] mattab commented on #2
Actually I was wrong, checked and the logic in removeDatesThatHaveBeenPurged / findOlderDateWithLogs does not actually check for RAW data but checks for the setting / feature "Delete logs older than N days" and uses this to assume the RAW data is available in the last N days.  So to make it work with GA data, we'd need some new logic there to not invalidate dates that don't have any RAW Data...

[2019-12-12 21:43] tsteur commented on #2
It wouldn't maybe work though for bigger periods like month and year.

I know but it be easy (2 lines or so) to get the archiver to aggregate the archives even for day if a roll up contains such a site. Would need some extra setting though maybe as sometimes you would just want to ignore that site and aggregate raw data anyway

[2019-12-13 08:29] Mich-es commented on #45
Have not changed anything - today it works again

[2019-12-13 08:33] Mich-es opened #46 "Difference between visits in graph and visits in table"
After i import some data, i see a difference between visits and visits:
![grafik](https://user-images.githubusercontent.com/58422824/70785781-81966c00-1d8b-11ea-9d04-226c1b1dbe04.png)

[2019-12-13 16:43] diosmosis commented on #45
Ok, I'll close this then.

[2019-12-13 16:44] diosmosis commented on #46
Can you export the visitors overview graph as XML and paste the result here?

[2019-12-13 18:09] diosmosis commented on #46
Could you also provide screenshots for the bottom metrics for the 3 day and full month ranges so I can compare the results?

[2019-12-13 18:11] diosmosis commented on #46
Also are you currently tracking into this site? And does this happen with older imported data? Eg, a couple months in the past.

[2019-12-13 18:43] Mich-es commented on #46
![grafik](https://user-images.githubusercontent.com/58422824/70823698-d9ab8d80-1de0-11ea-999e-275e34ad2841.png)

[2019-12-13 18:46] Mich-es commented on #46
Yes, current figures run parallel to the import in the last 3 days.

I am currently importing 4 accounts and this phenomenon occurs with all accounts. I have the feeling that it is not properly "archived" !?

[2019-12-13 19:20] diosmosis commented on #46
Can you check if the data inaccuracy happens when you select older months? For example, on October 2019, is the data different? (if yes, an export and screenshot would be useful)

Btw, it looks like your metrics are being affected by this bug as well: https://github.com/matomo-org/matomo/issues/15200 (the fix is here: https://github.com/matomo-org/matomo/pull/15218 )

I think this is an issue we f

[2019-12-13 20:05] Mich-es commented on #46
no, the import of the accounts goes until 2017. But the same effect can be seen everywhere. As soon as the period is increased, the number of visitors in the table no longer matches the graphic

I compare the files, but i can´t find the fix!?

I would like help you - tell me how :-)

[2019-12-13 20:09] Mich-es commented on #46
Another issue, same problem?

![grafik](https://user-images.githubusercontent.com/58422824/70828925-b25abd80-1dec-11ea-8875-22246280d48a.png)
![grafik](https://user-images.githubusercontent.com/58422824/70828959-c7375100-1dec-11ea-9fe4-ac8f975fcebf.png)

[2019-12-13 22:35] diosmosis commented on #46
It's the code that's removed on the left. It format's the metrics twice which results in some of the ending digits getting cut off. The fix is to remove the redundant code. You can get a patch file via https://patch-diff.githubusercontent.com/raw/matomo-org/matomo/pull/15218.patch .

If it applies to old data too then it's not the issue the team found elsewhere. Can you apply the above patch (by r

[2019-12-13 23:42] diosmosis commented on #46
To apply the change you could also simply replace the `plugins/VisitsSummary/Reports/Get.php` file with  https://raw.githubusercontent.com/matomo-org/matomo/3.x-dev/plugins/VisitsSummary/Reports/Get.php .

[2019-12-14 07:53] Mich-es commented on #46
If the effect is to occur immediately, the patch will not work. I ran the cronjob, but there was no effect either. Do I have to reset something, or does that also affect the archived data?

Oh, that's actually a misunderstanding - maybe also in the translation.
In Google, these are sessions, not (unique) visitors. I changed that at sessions at Goole and now the numbers are right

[2019-12-14 08:25] diosmosis commented on #46
It just affects how the data is displayed in the metrics section under the graph. For example, in the screenshot you posted there are 26,86 visits, but you can't have 0,86 visits. The bug is causing the

You can try clearing the cache via `./console cache:clear` or restarting the web server to make sure the changed PHP file is used, but it should be immediately visible.

[2019-12-14 08:31] Mich-es commented on #46
I restart the server - no effect
i clear the chache - no effect

[2019-12-14 08:34] Mich-es commented on #46
Have a look at the periods:
![grafik](https://user-images.githubusercontent.com/58422824/70845948-cb975480-1e54-11ea-9aa7-aa600bd1416e.png)

![grafik](https://user-images.githubusercontent.com/58422824/70845962-e4076f00-1e54-11ea-9bd7-4815df3080d7.png)

![grafik](https://user-images.githubusercontent.com/58422824/70845969-f41f4e80-1e54-11ea-8387-38d16763822d.png)

[2019-12-14 08:43] diosmosis commented on #46
Can you also show the date time selected in the period selector for those graphs?

[2019-12-14 09:10] Mich-es commented on #46
Do you mean this?
![grafik](https://user-images.githubusercontent.com/58422824/70846477-eb7d4700-1e59-11ea-9136-53655ccfa4b2.png)

[2019-12-14 09:15] Mich-es commented on #46
Oh, i play a little bit see what happens:
![grafik](https://user-images.githubusercontent.com/58422824/70846517-4dd64780-1e5a-11ea-8ce4-7a171026ae40.png)

![grafik](https://user-images.githubusercontent.com/58422824/70846558-aad1fd80-1e5a-11ea-81a6-2292262f03ae.png)

[2019-12-14 10:51] diosmosis commented on #46
In your first image you have selected a range, the metrics at the bottom are the summed metrics for each day in the range.

For the second and third, the metrics are for the selected period, the graph shows periods in the past. They are 0 because there is 0 visits for the selected period (ie, 0 visits for March 2012 and 0 visits for the year 2012).

I think your problems with metrics are fixed now

[2019-12-14 11:05] Mich-es commented on #46
The periods of the graphics and the summation date from **2012.** The detailed dates from **March 2012**. To compare this, I added a screenshot of GA.
![grafik](https://user-images.githubusercontent.com/58422824/70847873-e0caae00-1e69-11ea-94e9-3607fe78323f.png)

Yes, meanwhile i think so :-)

[2019-12-14 22:06] diosmosis commented on #46
If you're referring to data being 0 for 2012 when it's not in GA, can you check the import status for the last day imported?

[2019-12-15 09:12] Mich-es commented on #46
![grafik](https://user-images.githubusercontent.com/58422824/70860547-55155800-1f23-11ea-8d30-5df534f78d96.png)

Unfortunately I didn't understand the last question. What I wanted to show is that if the period is 3 days, the dates are fine. If I extend the period, the number from the 3-day period remains. If I extend the period to one month, everything is set to 0. I think it's a bug, but I can't

[2019-12-15 09:35] diosmosis commented on #46
So there is data for 2012 and everything is working as expected now?

[2019-12-15 09:48] Mich-es commented on #46
No, not at all, as you can see in the graphic above.

18 visitors are shown in the overview, while the graph shows over 2.8 million.

It doesn't work as expected

[2019-12-15 09:53] diosmosis commented on #46
@Mich-es if you're using a "range" period it adds up the visits for every day. If you're just on a specific day it shows the value for the last day in the graph. Please check the tooltip for the very last point on the right side of the graph.

[2019-12-15 10:54] Mich-es commented on #46
and that’s exactly what doesn’t work. did you look at the graphic above?

I will show this again here.

A time series with 2.8 million users (January 1, 2012 - August 31, 2012).

The summary below the graphic shows 0 instead of 2.8 million - the function is incorrect or does not work correctly.

Or do I just not understand you? :-)

![grafik](https://user-images.githubusercontent.com/58422824/7086

[2019-12-15 11:03] diosmosis commented on #46
Your server doesn't have enough memory to aggregate a range that large, so it fails and reports 0. Given this is not a problem with the importer I'm going to close the issue and refer you to the forums: http://forums.matomo.org/.

[2019-12-15 11:03] #46 closed

[2019-12-16 12:17] #33 closed

[2019-12-18 12:18] diosmosis commented on #15
User docs should be better now, closing.

[2019-12-18 12:18] #15 closed

[2019-12-19 07:34] minimeee opened #53 "Error after update from 1.1.2 to 1.2"
Hi!

 I've installed GA importer yesterday, started to import GA data (worked, but not yet finished) and updated the importer to 1.2 today. Since then, I always get the following error when trying to open the "Google Analytics Importer" page:

[code]
![Matomo_Error](https://user-images.githubusercontent.com/5322305/71153724-29071900-223a-11ea-9769-bec5b1980f34.png)
I already restarted nginx (as su

[2019-12-19 07:38] diosmosis commented on #53
The import will still run in the background, this is just an issue w/ the reporting page. I'll put in a fix shortly.

[2019-12-19 08:03] diosmosis commented on #53
This should be fixed in 1.2.1. It'll take a bit for the marketplace to put it up, but once it does, let me know if it works for you.

[2019-12-19 08:03] #53 closed

[2019-12-19 08:41] minimeee commented on #53
Your fix seems to work. Thanks a lot for your fast response!

[2019-12-19 08:53] diosmosis commented on #53
No problem, let us know if you encounter any other issues.

[2019-12-19 10:47] HorstGassner opened #54 "Error in System check"
Hi!

If I open the settings I get the following error:

 Fehler
[GoogleAnalyticsImporter] Required Executables (php)
[GoogleAnalyticsImporter] Required Executables (nohup)

I'm using the latest version of Matomo and the PlugIn (1.2.1)

[2019-12-19 21:57] diosmosis commented on #54
For now, the CLI php and nohup executables have to be available on your server for the importer to run. These errors are reporting that Matomo cannot find them. Are they in actuality available?

[2019-12-20 06:25] HorstGassner commented on #54
Thank you for your fast response!

Maybe a dumb question - but where could I find these files?
What I can find is CliPhp.php in the Matomo /core/CliMulti/ directory.

I've installed Matomo in it's own subdomain. These should not be a problem, should it?

[2019-12-20 08:31] diosmosis commented on #54
Those (`php` & `nohup`) are actually executables that would be found on your server. Your host (if you have one) may have disabled their use in some way. The plugin currently uses them to do the importing in the background. It's something you'd have to talk to your host about, or perhaps there is some setting that needs to be set in cpanel, otherwise importing won't currently be possible.

That sa

[2019-12-20 09:21] HorstGassner commented on #54
Importing data is one of the things that are very important to many of my colleagues (I am a blogger and the EU GDPR is a painful problem for many of us). Most of us want to get rid of GA, but we don't want to lose historical data. And yes - many of us use shared hosting (because it's cheaper).

My current provider package does not allow SSH access. An upgrade would not be that expensive, but at t

[2019-12-20 09:56] diosmosis commented on #54
@HorstGassner I wouldn't purchase ssh, having ssh access wouldn't make the plugin work for you, it would just allow you to check/debug some things. I might ask the host specifically "Is it possible to make the 'php' and 'nohup' executables available on my server?" and "How long will a script when run via shell_exec("php ...") be allowed to run before it is terminated (if it is terminated)?". These

[2020-01-16 09:57] denarie opened #59 "Big difference in imported numbers between Google Analytics and Matomo"
I had the importer running vor a while. I compared the visitor numbers , at first, they are quite similar.
The importer ist still running regularly and the websites tracking is still using Google Analytics.
Suddenly the numbers in Matomo dropped to 0, 1 or 2 visitors, even if Google Analytics shows about 20 visitors.
I upgraded the importer to use the newest version, but this did not change it.
Wh

[2020-01-16 10:51] diosmosis commented on #59
Hi @denarie , sorry to hear this... are these visits for days or other periods? Could you provide some screenshots (the visitors overview for one day + the same day in GA)?

[2020-01-16 11:19] diosmosis commented on #59
Another question: do you have tracking setup for this site in Matomo as well as GA?

[2020-01-16 11:53] denarie commented on #59
The visitors are for days, see screenshots.
No, the tracking setup for the site is still GA.

![google_analytics](https://user-images.githubusercontent.com/8998950/72522975-1bf04080-385f-11ea-8c3c-18c6eb47a931.jpg)
![google_analytics2](https://user-images.githubusercontent.com/8998950/72522976-1c88d700-385f-11ea-8d83-d1fa97bdf4ad.jpg)
![matomo](https://user-images.githubusercontent.com/8998950/725

[2020-01-16 11:59] diosmosis commented on #59
@denarie for december 19th, can you check what the visitor log displays?

[2020-01-16 12:43] denarie commented on #59
The graph for december 17th to 20th
![visitors](https://user-images.githubusercontent.com/8998950/72526125-fa468780-3865-11ea-84d0-bc31b562c4d0.png)
And the visitor log for the same period says "Es stehen keine Daten für diesen Bericht zur Verfügung.", so no data available.

[2020-01-16 13:13] diosmosis commented on #59
@denarie Using google translate I see "besuche" is "visit" and "nutzer" is "user", correct? In this case we're comparing incorrect metrics. Visits are imported as sessions in GA and visitors in Matomo are imported as users (so we should compare visits w/ sessions, and visitors w/ users). When doing so do you still see a discrepancy? If so, I'm not sure what could cause it, but if you're willing to

[2020-01-16 15:10] diosmosis commented on #59
@denarie one other thing you could try is to start a new import for Dec 19th and enable debug logging via the checkbox. Then email the logs for the new site ID to me and I'll see if there's something there (the logs are a file named tmp/logs/gaimportlog.$idSite.log).

[2020-01-16 16:37] Mich-es commented on #59
Hi denarie,
and diosmosis,

i got the same problem with one property:
![grafik](https://user-images.githubusercontent.com/58422824/72543453-093d3200-3886-11ea-9f46-391d1e0b793d.png)
![grafik](https://user-images.githubusercontent.com/58422824/72543737-781a8b00-3886-11ea-9480-757791189153.png)

And i got another problem too - Can you please check the following:
Go to visitors, select a date range o

[2020-01-16 16:43] diosmosis commented on #59
@Mich-es if you can provide read only access to your GA it would be the easiest way to find the cause and resolve the issue.

[2020-01-16 17:03] Mich-es commented on #59
yes, i can.
can u give me a E-Mail?

[2020-01-16 17:03] diosmosis commented on #59
@Mich-es please use benaka@innocraft.com

[2020-01-17 07:27] Mich-es commented on #59
ok, e-mail was sent

[2020-01-17 07:30] diosmosis commented on #59
hi @Mich-es, that could help, but I was actually looking for read only access to your Google Analytics account so I could try an import and see what happens.

EDIT: I could use your matomo to try an import as well, but without ssh access to the server I wouldn't be able to go through the logs. It's much easier if you could authorize my email to access your GA property.

[2020-01-17 07:34] Mich-es commented on #59
its done and you have access

[2020-01-17 07:36] diosmosis commented on #59
@Mich-es got the email, I'll look into this in the next couple hours and see what's wrong.

[2020-01-17 09:50] diosmosis commented on #59
fyi @Mich-es I responded to your email.

@denarie the issues you are experiencing seem unrelated to @Mich-es 's, would you be able to provide any type of access?

[2020-01-17 14:48] denarie commented on #59
@diosmosis Sorry for my late reply. I just started a new import with debug option on. I will sent you the log via email.
EDIT: just sent the logs.

[2020-02-17 16:33] peterbo opened #68 "OAuth doesn't work behind a proxy / Plugin doesn't use proxy configuration"
When behind a proxy, OAuth doesn't work, because the request back to google fails. This is because, as far as I understood, uses its own implementation of making this request and therefore doesn't use the configured proxy.

[2020-02-18 03:29] diosmosis opened #69 "Run tests on travis-ci"
Since system & UI tests use captured responses now, they can be run on travis-ci.

[2020-02-19 10:51] Findus23 opened #70 "update google/apiclient"
https://forum.matomo.org/t/error-message-activating-ga-import/36129/2?u=lukas

the old version isn't compatible with PHP 7.4 which has been fixed in `https://github.com/googleapis/google-api-php-client/pull/1683`.

[2020-03-03 22:41] MaghSamana opened #72 "Google Analytics Importer plugin imported all past data successfully, then does not continue with import"
I am not sure if this is a bug or something other. The Google Analytics Importer ran successfully, imported all the past data, but now that it should continue the daily import (no end date specified) the process gets killed. According to the error log:

Resuming import into existing site 2.
WARNING [2020-03-03 22:21:29] 473317  The CustomDimensions plugin is not activated or present, skipping cust

[2020-03-04 06:35] MaghSamana commented on #72
Update: After some hours, it had completed the import.

It seems the Importer doesn't import data for the current date before the next day. If so, then it works ok and the error messages were rather confusing.

[2020-03-04 08:53] sgiehl commented on #72
maybe @diosmosis can say somtheing on that

Note: For future issues on that plugin - there's a separate repo for the plugin: https://github.com/matomo-org/plugin-GoogleAnalyticsImporter

[2020-03-04 10:32] diosmosis commented on #72
@MaghSamana the importer will only import up to yesterday each day, since until the next day, google analytics will still be recording. If we import today's data, it would be incomplete.

[2020-03-04 20:27] mackaaij commented on #2
I switched from Google Analytics to Matomo in 2018 and would like to merge the site created by the importer with my existing Matomo site. I'm currently in the process of importing step-by-step due to the Google Analytics API rate limit.

As I didn't run Matomo side by side with Google Analytics, there is very little overlap:

* May 21, 2018 already has 75 visits in Matomo;
* May 22, 2018 still has

[2020-03-05 21:35] MaghSamana commented on #72
@sgiehl Thanks. As far as I have been able to see, the plugin worked well and didn't give me any problems.
@diosmosis That's right. It was the error messages that were confusing, that's all.

I have been running Matomo with Google Analytics Importer only for a few days, but up to now everything has worked as it should. We use PHP 7.3.13 and monitor a (latest) Joomla site.

One note: A huge plus fo

[2020-03-06 11:29] diosmosis commented on #72
@MaghSamana would you be able to post a screenshot of the confusing error message? Maybe I make it clearer.

[2020-03-06 21:04] MaghSamana commented on #72
It's in the first post of this thread. I saw the process killed, checked the log and I thought there was something wrong. There wasn't.

[2020-03-09 12:20] #72 closed, assigned to nobody

[2020-03-12 02:28] diosmosis commented on #2
@mackaaij I did a test using the RollUpReporting plugin (https://plugins.matomo.org/RollUpReporting) with a site with imported data and a site with tracked data and it seemed to work out. It's not a free solution, but it should work to provide a combined view. Note: you'll have to create a new Roll-Up site and include the two other sites, then run archiving for the new Roll-Up.

[2020-03-12 06:26] mackaaij commented on #2
Thanks but for me it's the same single site, not three. And an additional plugin. And additional bills (yearly) to pay. I'd be OK with choosing an exact date to take away issues of overlap, in my case May 22, 2018 is Matomo.

[2020-03-21 07:00] prathers opened #75 "Error during archiving GA imported site"
Not totally sure, but this might be an issue for the GA importer:
During the cron archiving sites in our instance, it throws an error (in short):

`Got invalid response from API request: ?module=API&method=API.get&idSite=9&period=week&date=last18&format=php&trigger=archivephp. Response was 'a:2:{s:6:"result";s:5:"error";s:7:"message";s:12021:"Label column not found in the table to add in addDataTa

[2020-03-23 18:45] diosmosis commented on #75
There's some data in GA for that specific day that is causing an empty label to be imported for one of the Referrers reports. This causes archiving to fail. Here are some things you can do to get more information:

- The error stack trace in the cron.log is being cut off, if you add `define('PIWIK_ARCHIVE_NO_TRUNCATE', true);` to `/path/to/matomo/bootstrap.php` you'll be able to get the whole trac

[2020-03-23 21:24] prathers commented on #75
Hi,
Sry, I'm not sure I understood everything ..
Should the `define('PIWIK_ARCHIVE_NO_TRUNCATE', true);` added to core/bootstrap.php change the output of the cron.log? Because I can't see any difference.

Where can I look through the matomo and/or GA reports?

When I look in the Visits Log, I get the msg `The archiving of your reports hasn't been executed recently`

[2020-03-23 22:15] diosmosis commented on #75
Not core/bootstrap.php, but in the root folder next to your matomo.php file.

The matomo reports are the reports you see in the matomo dashboard and elsewhere in the non-admin pages of matomo. Google Analytics reports are in Google Analytics. Somewhere in the referrer (aka, acquisition) reports there is some data that is causing problem for matomo.

The importer does not import raw data, there wil

[2020-03-23 22:21] prathers commented on #75
Bootstrap.php: there is no such file in root of our matomo instance..?

[2020-03-23 22:38] diosmosis commented on #75
You can create one, if it's not there it's not loaded. If it is there, it is loaded. Add one w/

[code]

[2020-03-24 07:19] prathers commented on #75
The only thing I can see is a very odd referrer:
`cqiCd8vo1XPks8Zg9s0TbXkNJ69o2eBOV1T8XuzTW_IjCHkSCFsoPHXjJRmPIwZ7b9GRCMpsRxWAxdvtsXuF_eh_RJHiDyFnNF_qyjMz6Zb5j10NqwWb1uerUP2zmvfL4nxjoeq1_CLViYCv6_JqjMLDjoTvKM0VkoYEVBXKDBSSK5E-9hRjDQxYgfbwdv42bIx4ZgYr2ziy6i0LrSK7zFmFW5_LcmdMeuZXdt7dXuEAWLZuOMfdiHT6_Sb9Cp0ttOZfDPgUTRt2k8mIF4Gkm12FIaGoDoTwudp4xPLiu2zGRQChgtnRx2LmlZHXxTLYfPJvLZrwMePGD0PBFrNJag`
which

[2020-03-25 00:02] diosmosis commented on #75
Removing these lines will have untruncate them: https://github.com/matomo-org/matomo/blob/3.x-dev/core/CronArchive.php#L1237-L1240

That looks strange, did you see it in GA or matomo?

Can you also make sure these lines look the same for the file in your GoogleAnalyticsImporter plugin: https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/3.x-dev/RecordImporter.php#L166-L169 ?

[2020-03-25 07:37] prathers commented on #75
New logfile with no truncation:
[cron.log](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/4379592/cron.log)

In Matomo

We have the same lines

[2020-03-30 02:23] mattab commented on #75
@prathers due to our focus on Matomo 4 we are probably unable to troubleshoot this issue further. If you or anyone else can look into it further, we welcome a pull request on this. Or if anyone else experiences the issue please comment here

[2020-04-04 06:27] prathers commented on #75
I fully understand and will not claim any extra service. I bet you guys are busy enough already.
I still consider it as a bug in GA importer, but I will see if I can trace it myself, or simply give up on the site I’m trying to import and archive

[2020-04-22 12:33] ampaze commented on #2
I have the same problem as @mackaaij.

Isn't the whole point of the Google Analytics Importer to be able to compare old (Google Analytics) and new (Matomo) data for the same website?

Is that possible with data spread over two siteIds?

[2020-04-26 09:55] diosmosis commented on #2
@ampaze the only solution at present is to use RollUpReporting.

[2020-05-06 15:05] ampaze opened #76 "Having the plugin installed makes the dashboard unusable"
Ever since we installed this plugin, the dashboard cannot be used, as matomo now thinks the users don't have the right permissions. The admin sections still works fine.

This is what it looks like, basically an empty page (btw. the message itself is also wrong, as the real one gets replaced with a more generic one)

![image](https://user-images.githubusercontent.com/758593/81192216-3ab74600-8fba-1

[2020-05-06 17:08] diosmosis commented on #76
Hi @ampaze, sorry you're experiencing this problem. Could you tell me whether you still experience the issue if you leave the plugin installed in matomo, but deactivate the plugin in the plugin management admin page?

Do you have any imported sites at present? If yes, then while he plugin is activated, if you enter an idSite in the URL manually for a site that is not imported, does it load?

[2020-05-06 18:03] ampaze commented on #76
Thanks for getting back to me.

The importer is currently still in progress, will I lose data when I deactivate the plugin?

I have two siteIds, the one currently beeing imported and the initial one that is currently tracking the page. The dashboard does not work for any siteId I enter.

[2020-05-06 18:15] diosmosis commented on #76
The import command will fail on the day it's currently importing, however afterwards you should be able to resume from that day. To be safe, however, you can wait until the import job says it's been rate limited (or killed if you're on shared hosting and the hoster doesn't like long running processes).

This is strange. This plugin doesn't change permissions in any way, so it shouldn't have an eff

[2020-05-07 11:34] ampaze commented on #76
When I deactivate the GoogleAnalyticsImporter Plugin, the dashboard is working again.

The real error message is _ExceptionPrivilegeAccessWebsite_

The only other additional plugin is **InvalidateReports**, but with my fresh copy it is enough to copy the GoogleAnalyticsImporter Plugin to make the dashboard fail. So I am pretty sure the problem is somewhere in GoogleAnalyticsImporter.

I tried debu

[2020-05-07 12:10] diosmosis commented on #76
@ampaze there's no stack trace in the logs? If not, can you change this code/file (after making a backup): https://github.com/matomo-org/matomo/blob/3.13.5/core/testMinimumPhpVersion.php#L85-L97 to:

[code]

then trigger the error? There should be a stack trace either on the screen or the logs. Then change the file back to the backup.

[2020-05-07 13:10] ampaze commented on #76
This is what the log says:

ERROR API[2020-05-07 13:02:33 UTC] [d5ed7] Uncaught exception in API: Ihre Sitzung ist aufgrund Inaktivität abgelaufen. Bitte melden Sie sich an um fortzufahren. /home/www/matomo/core/Access.php:728

even with the Piwik_ShouldPrintBackTraceWithMessage changes, no stack trace in the log file.

But the error message in the browser / xhr is now this

[code]

[2020-05-07 16:46] diosmosis commented on #76
@ampaze would you be willing to provide access to your matomo for further debugging? (if yes, create a new user you'll delete later and email benaka@innocraft.com w/ the temporary credentials)? If not I'll reply w/ some other things to try. (make sure the user has access to both sites)

[2020-05-11 13:37] ampaze commented on #76
I think it would be easier for me to try some more things first.

[2020-05-13 16:54] diosmosis commented on #76
@ampaze If `getWidgetMetadata()` is failing it might be that the session isn't being recognized (it looks like it thinks no one is logged in). Some things to try:

- try logging in and viewing the page in an incognito window
- try deactivating other plugins to see if the problem has something to do with the deactivation process
- try to reproduce it on the empty matomo you setup (if you can, and a

[2020-06-18 09:13] ampaze commented on #76
Sorry I was absent from this issue for a while. Your suggestions were mostly stuff I already tried and had also written about here. We are now waiting for the import to finish and then remove the plugin.

[2020-06-18 09:13] #76 closed, assigned to nobody

[2020-06-26 17:02] tomaxuser opened #80 "Unable to import OAuth Client configuration"
Reposting <https://forum.matomo.org/t/google-analytics-importer-unable-to-import-oauth-client-configuration/37637> here:

I am trying to import a website from Google Analytics into Matomo, however, I’ve got stuck on step 2.2.3 from https://matomo.org/docs/google-analytics-importer/.

When I try to import the OAuth Client configuration file, either as a file, or pasting its contents into the Config

[2020-06-27 03:28] diosmosis commented on #80
When it redirects to the same page after uploading, can you check if the URL is different or if there's an `error=` URL parameter?

If you have access to your mysql DB, can you run this command and see what it returns (after trying to upload config): `SELECT option_value FROM {tables_prefix}option WHERE option_name = 'GoogleAnalyticsImporter.clientConfiguration'`? (replace `{tables_prefix}` with t

[2020-06-27 09:44] tomaxuser commented on #80
Re the URL, I get back to the original page (after 302). Re the SQL, it returns one row with empty string.

I have tried to do some simple debugging with `throw`s in `Controller.php` (I guessed it's the right place) and it seems I do not get inside [the condition block](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/1.4.0/Controller.php#L162) (EDIT: although I am uploading the f

[2020-06-27 10:54] diosmosis commented on #80
Hmm, odd (and yep Controller.php is the right place)... Debugging w/ `throw`s should work provided you remove the try-catch first (https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/1.4.0/Controller.php#L159 + https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/1.4.0/Controller.php#L183-L185).

If it's not getting into the `if`, then it can't find the uploaded json fil

[2020-06-27 18:14] tomaxuser commented on #80
Sure, I took care so that the try-catch block wouldn't interfere, although I could have removed it. (I have working skills with Perl, although almost none with PHP.) But I think we are getting to the root now:

In the last comment I only tried to use the file entry method. I had a look into PHP documentation regarding `$_FILES` and it looks like my problem was due to unset [`upload_tmp_dir`](https

[2020-06-27 22:14] diosmosis commented on #80
Entity encoded how (URL encoded or HTML encoded)? Is the value encoded in `$_POST['client']`? If it is, it should not be and I'd guess something in your apache config is doing that.

[2020-06-30 10:20] catlan opened #81 "core:archive error: Label column not found in the table to add in addDataTable"
Google Analytics Import

The archiver seems to have problem with the imported GA website. Every hour the crontab throws this error:

[code]

Another report of the same issue can be found here: https://forum.matomo.org/t/label-column-not-found-in-the-table-to-add-in-adddatatable/36491

[2020-06-30 23:47] diosmosis commented on #81
This occurs due to the data in GA, the easiest way for me to debug this would be if you could provide access to your GA account so I can reproduce the issue. If this is possible, please email `support@matomo.org` with the oauth credentials for access. If not it will take longer to find the root cause. And can you let me know what version of the plugin you are using?

[2020-07-01 10:00] catlan commented on #81
GoogleAnalyticsImporter (v1.4.0)

Also followed up with support@matomo.org regarding GA access.

[2020-07-02 20:05] diosmosis commented on #81
Fixed by #83

[2020-07-02 20:05] #81 closed, assigned to nobody

[2020-07-27 21:55] tsteur opened #89 "Add a DI setting to limit endDate"
Since adding https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/86/files this should be probably easy.

We'd basically need to set to force a specific endDate in https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/86/files#diff-45fa769832b0e4e03d179befdbf5324dR22

The goal is basically to prevent ongoing import. We want to be able to have only an initial import of hist

[2020-07-29 14:37] tomaxuser commented on #80
Sorry for the later response, I had to take care of importing a website. In the meantime we have upgraded to 3.14.0 and 1.4.1.

It is the HTML entity encoding: `<` → `&lt;` and so.

When importing the OAuth config using the text entry method, dumping of `$_POST['client']` and `$client` around [line 160](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/1.4.1/Controller.php#L160) an

[2020-07-29 15:23] diosmosis commented on #80
@tomaxuser I see, this should be an easy fix, after line 160 that you linked to, can you add the following code:

[code]

and see if it works for you?

[2020-07-30 10:00] tomaxuser commented on #80
Thanks! That seems to work. Will this be included in the next update? In that case I'd leave that line there.

And re the problem with the file input: would it make sense to you to add a check suggested in https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/80#issuecomment-650594808? I am not sure about the cause of the inability to use the `/tmp` as `upload_tmp_dir` (yet), but I g

[2020-07-30 22:49] diosmosis commented on #80
Yes.

If we find time to add it, that is a diagnostic we'd add to core rather than this plugin, since it would affect more than this plugin and this plugin has an alternative method to set the client config (now that it's working).

[2020-07-30 22:50] diosmosis commented on #80
Fixed by #92

[2020-07-30 22:50] #80 closed, assigned to nobody

[2020-08-01 23:44] diosmosis commented on #59
Fixed by #66

[2020-08-01 23:44] #59 closed, assigned to nobody

[2020-08-02 06:39] diosmosis commented on #89
Fixed by #91

[2020-08-02 06:39] #89 closed, assigned to nobody

[2020-08-02 08:10] #69 closed, assigned to nobody

[2020-08-03 23:43] tsteur opened #96 "Link to the GA importer guide from the app"
I just went to the GA importer page and noticed this screen

![image](https://user-images.githubusercontent.com/273120/89237453-4bbe3480-d647-11ea-99cf-90d7fdfb5981.png)

There weren't any instructions on how to get started. I suppose a link to https://matomo.org/docs/google-analytics-importer/ with all the instructions would help?

[2020-08-04 10:02] diosmosis commented on #96
Fixed by #97

[2020-08-04 10:02] #96 closed, assigned to tsteur

[2020-08-12 14:09] mdlaat opened #104 "error when creating import job"
Hello, thank you for matomo and this plugin.
Trying to import GA to matomo on my wordpress site.
When creating an import job, I get the error in dutch, which translates to:
date format should be yyyy-mm-dd, or today or yesterday or any keyword supported by the strtotime function

This is when leaving the two date fields empty, but also when populating these two fields with something in the format

[2020-08-13 22:14] mattab commented on #45
Fyi we also experienced the issue (only once so far)

`Error: {"message":"{\n \"error\": {\n \"code\": 400,\n \"message\": \"Unknown metric(s): ga:totalValue, ga:transactions\\nFor details see https:\/\/developers.google.com\/analytics\/devguides\/reporting\/core\/dimsmets.\",\n \"errors\": [\n {\n \"message\": \"Unknown metric(s): ga:totalValue, ga:transactions\\nFor details see https:\/\/develop

[2020-08-14 09:47] diosmosis commented on #45
@mattab this seems to happen randomly. I guess we can just retry, but you should expect the GA API to fail, and sometimes repeatedly.

[2020-08-24 05:53] danieljwonder opened #111 "Missing Data in Month & Year Reports for Imported Date Range"
I recently completed an import job between 2009 - 2020 but no data is shown within any **month** or **year** evolution graphs or summary cards within Matomo between 2011 - 2017 despite there being lots of data available within this range when viewing a daily report.

![monthly-bug](https://user-images.githubusercontent.com/2772782/91007724-cd92f380-e630-11ea-9606-5404dc043d16.png)

When reviewing

[2020-08-24 17:55] SnakeME opened #112 "Schedule An Import fails via Wordpress importer plugin"
We have completed the steps creating an OAuth Client and authorizing Matomo to import data from Google Analytics.

On the "Schedule An Import" step we've filled out the fields Google Analytics Property ID, Google Analytics Account ID, Google Analytics View ID. When we then click on "Start" we receive the following error:

The following error just broke Matomo (v3.14.0):

Neither the property "hasN

[2020-08-25 01:25] tsteur opened #113 "Error: Request had insufficient authentication scopes"
When running `googleanalyticsimporter:import-reports --idsite=X`

Not sure if this error is somehow avoidable @diosmosis ? Eg when configuring an account can we check needed permissions are there?

Saw this error in the logs:

[code]

[2020-08-25 20:30] diosmosis commented on #113
I'm not sure if we can detect it, but I can take a look.

[2020-08-26 08:59] pbdname opened #114 "Documentation - OAuth Client Credentials (internal) available only for G-Suite users"
One of the necessary steps to use this plugin is creating [OAuth Client Credentials](https://matomo.org/docs/google-analytics-importer/#1-creating-google-oauth-client-config). The tutorial instructs user to choose "[interal](https://img.matomo.org/spai/w_832+q_lossless+ret_img+to_webp/https://static.matomo.org/wp-content/uploads/2019/07/oauth-type-2.png)" type, but it is (now) available only to G-

[2020-08-26 20:19] tsteur commented on #114
Thanks @pbdname do you maybe have a link with more information about this where it says it requires a G-Suite account? That be great.

[2020-08-26 20:23] tsteur commented on #114
![image](https://user-images.githubusercontent.com/273120/91352881-98f48700-e83e-11ea-99e2-98b3c05b9815.png)
![image](https://user-images.githubusercontent.com/273120/91352889-9bef7780-e83e-11ea-9280-a603634a5018.png)

fyi some screens. It is indeed not possible to select "Internal"

[2020-08-26 20:29] pbdname commented on #114
Same for me. As "normal" Google user, I cannot select "internal" and only the popup, that @tsteur posted, is displayed.

![screenshot-2020-08-26-T22-25-22](https://user-images.githubusercontent.com/14733278/91353889-2ce93300-e7ec-11ea-8b68-81e8274c4fe6.png)

[2020-08-27 02:03] tsteur commented on #114
Note:

I just tested it and was able to successfully connect type "external" with Matomo without being "verified". However, while authorizing a user Google was showing this warning which can be skipped:
![image](https://user-images.githubusercontent.com/273120/91375058-c278d700-e86d-11ea-9588-4d457315a911.png)

As maybe no restricted and no sensitive scopes are being requested things might just st

[2020-08-27 06:55] sgiehl commented on #114
The same actually also applies for SearchPerformance and Advertising plugin. Both also require OAuth consent. But I just created a external OAuth consent with access to SearchConsole API, and with that there isn't any warning shown, seems that only happens with Analytics API

[2020-08-27 07:26] danieljwonder commented on #111
The same issue has occurred on another site I ran the import on, within the same Matomo instance. Except, in this case, the gap is between 2015 and July 2018.

EDIT: Based on the fact this data started again a month later and the import finished about a month later I looked into retention policy and noticed this was set to just over two years which would seem to line up so it may be user error. I'

[2020-08-27 19:52] diosmosis commented on #111
Hi @danielmcclure, sorry you're experiencing this issue. Can you try running the archiving command like this:

[code]

for a range w/ no month data but day & week data, and see if the month data shows up?

[2020-08-27 20:55] tsteur opened #115 "Custom dimension import fails: Invalid value '' for 'active' specified."
@diosmosis this might be an easy fix?

should the API return null could maybe default to false or true?

[2020-08-27 21:45] tsteur commented on #104
fyi another user just reported the same by email.

[2020-08-27 22:30] tsteur commented on #45
just for referencing pasting another one:

[2020-08-27 23:04] diosmosis commented on #45
@tsteur what is the desired behavior when these errors are encountered on cloud? Ignore/don't report an error?

[2020-08-27 23:11] tsteur commented on #45
I'd say for now we just ignore it if it happens only once randomly. If it happens repeatedly then we may need to investigate

[2020-08-27 23:41] danieljwonder commented on #111
Skipping archiving for website id = 7, period = month, date = 2018-06-01,2018-06-30, segment = , since there is already a valid archive (tracking a visit automatically invalidates archives).

[2020-08-28 01:33] diosmosis commented on #45
@tsteur these are GA API errors, I don't think there's anything we can really investigate (it says the metrics are invalid, but they are listed as valid in the GA API docs; eventually, like the next day, they might stop occurring). I'll just retry/ignore and if the API is unreachable, it will stop the import but not throw an exception so cloud doesn't get emails.

[2020-08-28 01:34] diosmosis commented on #104
Should be fixed by #117

[2020-08-28 01:34] #104 closed, assigned to nobody

[2020-08-28 01:49] tsteur commented on #112
@SnakeME this sounds like some incompatibility issue with another plugin. By the sounds another plugin maybe handles session data in a different way and breaks some of our functionality. Could you post the output of the system report here as a comment (the data should be anonymised. see https://matomo.org/faq/wordpress/how-do-i-fix-the-error-your-php-installation-appears-to-be-missing-the-mysql-ex

[2020-08-28 02:17] diosmosis commented on #111
@danielmcclure and there's no data for that month, but there is data for the days/weeks in that month, correct? Could you execute the following API requests, and post what you get:

[code]

(with the idSite & token_auth parameters replaced)

[2020-08-28 02:45] diosmosis commented on #115
Fixed by #118

[2020-08-28 02:45] #115 closed, assigned to nobody

[2020-08-28 05:46] SnakeME commented on #112
Hi @tsteur, it's strange, because now after trying a couple of days later, I get the following error:

Das Datumsformat muss YYYY-MM-DD, or 'today' or 'yesterday' oder eine andere, von der Funktion strtotime unterstützte Zeichenkette sein.

This are the headers which were sent for the request:

module: GoogleAnalyticsImporter
action: startImport
startDate: 2013-06-01
endDate: 2020-08-28
propertyId

[2020-08-28 06:30] tsteur commented on #112
I think @diosmosis fixed this particular error just before in https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/117/files. If you can it be great to still get your system report then we could identify the root cause maybe for the first error.

[2020-08-28 06:34] SnakeME commented on #112
Here is the system report

# Matomo

* Matomo Pluginversion: 1.2.0
* Config existiert und ist beschreibbar.: Ja ("$ABSPATH/wp-content/uploads/matomo/config/config.ini.php" )
* JS Tracker existiert und ist beschreibbar.: Ja ("$ABSPATH/wp-content/uploads/matomo/matomo.js" )
* Plugin-Verzeichnisse: Yes ([{"pluginsPathAbsolute":"$ABSPATH\/wp-content\/plugins\/matomo\/plugins","webrootDirRelativeToMato

[2020-08-28 06:41] SnakeME commented on #112
I have updated the file and the Import Job was now created successfully. I don't know what the origin problem was regarding the "hasNoClear" error. Maybe the issue relates to the Google API because I've created the credentials just before I tried to create the job. Maybe something on Google's side was not ready yet.

[2020-08-28 06:54] diosmosis commented on #45
Fixed by #119

[2020-08-28 06:54] #45 closed

[2020-08-30 21:09] tsteur commented on #112
Thanks @SnakeME

I've installed the same plugins but couldn't reproduce the session issue. I'd ignore it for now and see if it happens again in the future for some other user and then investigate further. Let us know if it appears again otherwise.

fyi @diosmosis I saw some code in GA importer was also starting a session in a class named `Random` within the vendor directory but not sure if that cl

[2020-08-30 21:10] tsteur commented on #112
@SnakeME if I understand things right it's now working for you? do you mind if we close the issue?

[2020-08-31 00:09] tsteur opened #120 "All Custom Dimensions for website 2 in scope 'visit' are already used."
Import always fails with this message and doesn't seem to proceed @diosmosis :

[code]

I suppose the problem is that they might have more dimensions on GA than configured in Matomo. Not sure what the best flow be as we probably can't easily notify the user about this.

[2020-08-31 00:10] tsteur commented on #113
@diosmosis we're getting this error a lot every day. Maybe for now when this happens we could at least abort the import?

Can we show any error why it was aborted?

[2020-08-31 00:12] diosmosis commented on #112
@tsteur looks like it is a fallback of openssl methods aren't available. It's used by the Google API client, but since we don't use that before starting matomo up, I don't think the session will be accessed by it.

[2020-08-31 00:23] diosmosis commented on #113
@tsteur we can catch it/detect it then show a custom error message, will do that

[2020-08-31 00:52] tsteur commented on #113
great, thanks

[2020-08-31 00:56] #112 closed, assigned to nobody

[2020-08-31 04:26] tsteur commented on #120
Note the error message is specific to Cloud but it would also happen in On-Premise I suppose when there is no more slot available. I reckon it be a different error message though

[2020-08-31 05:33] diosmosis commented on #113
Fixed by #122

[2020-08-31 05:33] #113 closed, assigned to nobody

[2020-08-31 16:22] diosmosis commented on #120
Working on a fix, will ask in the UI if the user wants to continue ignoring missing custom dimensions, while import itself will just ignore if a custom dimension slot is unavailable.

[2020-09-02 02:20] tsteur commented on #114
@sgiehl will we need to update the guides for these 2 plugins to update the type to external?

[2020-09-02 02:44] tsteur opened #126 "JS error when trying to start import"
![image](https://user-images.githubusercontent.com/273120/91926131-a9b76800-ed2a-11ea-8aba-5b3bbb067316.png)

seems related to invalid end date? BTW it also doesn't say what the expected format is.

[2020-09-02 03:14] diosmosis commented on #126
The second parameter is supposed to be an array. I was sure I fixed this...

[2020-09-02 04:18] diosmosis commented on #126
Fixed by #127

[2020-09-02 04:18] #126 closed, assigned to nobody

[2020-09-03 00:53] tsteur commented on #114
@mattab @diosmosis @sgiehl
I just tested the import using `Type=External` and it worked for me.

I suggest we adjust all those three guides (Importer, Search keywords and Paid Advertising) to use `Internal` should they have a gsuite account, and `External` otherwise. We'd also need to mention that we don't require any sensitive or restricted scopes which is why no long verification process (and th

[2020-09-03 02:08] diosmosis commented on #114
added to the importer docs:

<img width="943" alt="image" src="https://user-images.githubusercontent.com/125140/92063290-b5695580-ed4f-11ea-9ca1-78301e9e11f1.png">

[2020-09-03 02:09] diosmosis commented on #114
changed "session" to "section" in the docs

[2020-09-03 04:30] diosmosis commented on #120
Fixed by #123

[2020-09-03 04:30] #120 closed, assigned to nobody

[2020-09-10 07:57] seybsen commented on #54
A config option to set paths to `php` and `nohup` would be nice for hosts which have multiple php versions installed (e.g. Plesk)

[2020-09-11 06:56] mattab opened #129 "crontab core:archive fails with "An import is currently in progress.""
sometimes  we get an error like `An import is currently in progress. (If the other import has failed, you should be able to try again in about 5 minutes.)`

Would it be possible to not fail so the crontab doesn't send an email?

[2020-09-11 11:51] mattab opened #130 "Choose the custom dimensions you want to import from GA"
Feedback from customer:

we wanted to import our historic Google Analytics Data into Matomo, but we haven't been able to do it yet, as in Google Analytics 360 we had set up 200 custom dimensions (mainly not needed placeholders). The import plugin needs to have all custom dimensions set up, but this we don't want to do, as it would unnecessary increase the database structure.
Can we add following f

[2020-09-12 11:41] saschanos commented on #111
Experiencing the same issue. For all days the importer was active for a specific, there's no data which was directly tracked by Matomo shown in the graphs (but there's data existing). After I stopped importing, data for these days is correctly imported. Is there any way to fix the reports? I already deleted the reports and forced to rebuild them – with no success.

[2020-09-12 14:23] diosmosis commented on #111
@saschanos would you be willing to provide access to your matomo instance? If so can you create a new user with access to the imported site and provide credentials to support@matomo.org?

[2020-09-14 21:04] mattab opened #131 "Failed to reach GA after 30 attempts. Restart the import later."
Note: this is running the previous 1.5.3 version of the plugin.

Getting this error very often, every 5min or more often:

Error: {"message":"Failed to reach GA after 30 attempts. Restart the import later.","file":"\/var\/www\/html\/plugins\/GoogleAnalyticsImporter\/Google\/GoogleAnalyticsQueryService.php","line":214,"backtrace":" on \/var\/www\/html\/plugins\/GoogleAnalyticsImporter\/Google\/Goog

[2020-09-14 21:05] mattab commented on #131
Can we not error out so the crontab doesn't email us?

update: Note: this is running the previous 1.5.3 version of the plugin.

[2020-09-14 21:16] mattab opened #132 "Error: Token has been expired or revoked."
Can we not error out so the crontab doesn't email us?

Error: {"message":"{\n  \"error\": \"invalid_grant\",\n  \"error_description\": \"Token has been expired or revoked.\"\n}","file":"\/var\/www\/html\/plugins\/GoogleAnalyticsImporter\/vendor\/google\/apiclient\/src\/Google\/Http\/REST.php","line":118,"backtrace":" on \/var\/www\/html\/plugins\/GoogleAnalyticsImporter\/vendor\/google\/apiclient\

[2020-09-14 21:19] mattab commented on #132
Note: this is running the previous 1.5.3 version of the plugin.

[2020-09-21 16:54] saschanos commented on #111
@diosmosis, sent two mails to this mail address – did not receive any response 👎

[2020-09-21 18:36] diosmosis commented on #111
Hi @saschanos, the question you sent isn't one I can answer as I am a developer. I forwarded it to the person who can.

EDIT: do note, this person is far busier than I am and prioritizes paid support.

[2020-10-02 01:15] diosmosis commented on #132
@mattab this shouldn't happen w/ the latest version, can you check again?

[2020-10-02 01:19] diosmosis commented on #131
@mattab this shouldn't happen w/ the latest version, can you check again?

[2020-10-02 03:57] mattab opened #133 "Getting error from cron "Missing or invalid client configuration, please reupload.""
Getting the error email below regularly:

Error: {"message":"Missing or invalid client configuration, please reupload.","file":"\/var\/www\/html\/plugins\/GoogleAnalyticsImporter\/Google\/Authorization.php"

-> Instead could we get this error surfaced in the UI (system check warning maybe?) + also send an email to the person who set it up?

[2020-10-03 04:54] danieljwonder commented on #111
https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/111#issuecomment-682286632

**Year/Month/Week**
[code]

**Day**
[code]
Re-import appears to be fixing it.

[2020-10-04 23:01] #129 closed, assigned to diosmosis

[2020-10-05 00:30] #133 closed, assigned to nobody

[2020-10-05 02:03] mattab commented on #132
Works now :+1:

[2020-10-05 02:03] #132 closed, assigned to nobody

[2020-10-05 02:08] mattab commented on #131
Confirmed it's fixed :+1:

[2020-10-05 02:08] #131 closed, assigned to nobody

[2020-10-05 13:48] saschanos commented on #111
Looks like the InnoCraft team found a fix for the problem – there will be an update in a few days :).

[2020-10-05 22:04] #111 closed, assigned to nobody

[2020-10-06 02:16] diosmosis opened #138 "Keep track of all reimported date ranges in case reimported ranges fall outside initial range"
If a user imports a range, then reimports dates outside of that range, there is a danger they may invalidate/re-archive those dates and lose GA data permanently.

The workflow for this bug would be:

- User imports, eg, 2020-07-01,2020-08-01
- User re-imports 2020-06-03,2020-06-04
- User later invalidates 2020-06-03 and re-archives
- This results in no data displaying for that day

This is due to

[2020-10-08 03:05] mattab opened #140 "Page Urls show __mtm_ga_default_name_placeholder__"
Reported by email

    Currently we have the following URLs, which were imported:

      /en/__mtm_ga_default_name_placeholder__#utm_source=xxxxx

      It looks like the parameter: __mtm_ga_default_name_placeholder_ does not belong here. Will this be cleaned up?

![Screenshot from 2020-10-08 16-04-45](https://user-images.githubusercontent.com/466765/95410287-06d4b800-0980-11eb-9c5b-6d089eec6c3c.p

[2020-10-08 08:09] danieljwonder commented on #111
Fixed 👍

[2020-10-16 02:02] diosmosis commented on #140
Fixed by #142

[2020-10-16 02:02] #140 closed, assigned to nobody

[2020-10-17 22:15] errotu commented on #54
First of all: Thanks a lot for your great work! Unfortunately, I'm also affected by the limitations of my hoster. Are there any news on the implementation of an importing method without nohup?

[2020-10-19 05:50] diosmosis commented on #54
@errotu unfortunately it's not a high priority at the moment, matomo 4 is the main focus.

Note: you can import from the CLI directly using the `googleanalyticsimporter:import-reports` command (the user docs have more info on this and some possibilities for bypassing shared hosting limitations). However you may run into other limits/blocks placed by the hoster.

[2020-11-01 11:50] wcz-txp opened #146 "[Exception] Import was cancelled"
Hello,
I'm stuck with importing older data from Google Analytics into existing sites in my Matomo installation.
After successfully importing data for one site, I tried to import the data for other sites.
To import these data, I use the following command line in the Matomo directory:

`php7.2 ./console googleanalyticsimporter:import-reports -vvv --property=UA-xxxxxx-xx --account=xxxxx --view=xxxxxx

[2020-11-01 22:50] diosmosis commented on #146
Hi @wcz-txp, if you're using the CLI command to *start* an import, then you shouldn't need the `--idsite` parameter. The command will create a new site. If you want to *resume* an import, then you supply the `--idsite` parameter alone.

Note: if you're trying to import data into an existing matomo site, then that is not currently supported (there is an issue for this already). Unfortunately, in th

[2020-11-02 09:11] wcz-txp commented on #146
Ah, that's the problem. So if I want to switch from Google to Matomo, I have to import the old data first and only after that I can start to measure the traffic with Matomo. Or is it possible to merge data in Matomo?

For example I import Analytics data as "site 1" and the Matomo is already collecting data in "site 2" and after finishing the import I can merge site 1 and site 2, so nothing is lost

[2020-11-02 21:47] diosmosis commented on #146
The only way to do that currently would be to use https://plugins.matomo.org/RollUpReporting which unfortunately costs money. That said, the only thing having a single site with all the data really does is allow comparison between old dates and new dates (and of course, you'll get accurate data for the year you switched from GA). If this is something you don't need, you could get by w/ just switch

[2020-11-03 09:00] wcz-txp commented on #146
Thank you for this explanation.
So, if I get it right, than the "problem" is, that Matomo cannot import backward data for a already existing site id, but it is possible to start an import - lets's say from 2015 - and after that one can already start to collect new data on this site, while the import process is filling the gap between the import start data in 2015 and the start data of tracking vis

[2020-11-03 09:00] #146 closed, assigned to nobody

[2020-11-20 09:52] wcz-txp commented on #146
After 18 days these seven sites were successfully imported, while Matomo was in parallel already collecting new data. @diosmosis Thank you for this great plugin!

![изображение](https://user-images.githubusercontent.com/2091265/99785769-46b5c000-2b26-11eb-9324-12c62bfb5d26.png)

[2020-11-20 19:52] diosmosis commented on #146
Glad it's working for you @wcz-txp!

[2020-11-22 16:05] Chardonneaur opened #148 "Importing GA users flow and segments configuration within Matomo Analytics"
Hi there,
I got this recent demand from one of my client.
Would it be possible to import the GA users flow within the Matomo one so as the segment configuration.
I guess, that's not an easy thing but would like to suggest it anyway.

[2020-11-26 10:44] Findus23 opened #149 "Check Windows support"
reported in https://forum.matomo.org/t/googleanalyticsimporter-required-executables-php-nohup/39490

I am not sure if the plugin works correctly on Windows at the moment as e.g. `nohup` assumes this is running on a Linux (Unix-like?) system.

It would be great to either get the plugin to work on Windows or document the fact that it doesn't work.

[2020-11-26 20:04] tsteur commented on #149
seeing eg https://stackoverflow.com/a/3382087 a simple solution for now would be to simply not add `nohup` on windows and then see if it still causes issues. If a user then still reports an issue we could update the docs that windows might be causing issues or it won't work there.

[2020-11-27 00:31] diosmosis opened #150 "Non UA-... property IDs are not supported - support for Google Analytics 4 Properties"
Currently, property IDs that do not have the UA-* prefix result in an error when imported:

[code]

This doesn't appear to originate from the plugin which only uses a regex to find the account ID if it has one, so must be coming from the SDK or API itself.

[2020-12-01 16:58] Findus23 commented on #149
Until then, this should probably be mentioned in https://matomo.org/docs/google-analytics-importer/#requirements

[2020-12-05 08:46] aeneasr opened #152 "Importer scheduler not working"
After setting up OAuth2 and everything, the importer scheduler fails to load:

<img width="1322" alt="Bildschirmfoto 2020-12-05 um 09 45 03" src="https://user-images.githubusercontent.com/3372410/101238157-9b3c6c00-36de-11eb-9066-ce0b3ef05ede.png">

The console shows this error: https://code.angularjs.org/1.8.2/docs/error/$controller/ctrlreg?p0=ImportSchedulerController

I am using matomo 4.0.3 an

[2020-12-06 23:37] diosmosis commented on #152
@aeneasr can you try the following:

- check to make sure the `plugins/GoogleAnalyticsImporter/angularjs/import-scheduler/import-scheduler.controller.js` is on your server
- check that the file is mentioned in this file: https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/4.x-dev/GoogleAnalyticsImporter.php#L142
- if they both are, try running `php console core:clear-caches` and clea

[2020-12-07 09:05] aeneasr commented on #152
Thank you! I reinstalled everything and it now works fine :)

[2020-12-07 09:05] #152 closed, assigned to nobody

[2020-12-13 02:35] diosmosis opened #153 "status can say killed while import is in progress for some reason (after starting an import)"
This seems to only happen if requests cannot be made to the GA API and it just keeps trying in a loop.

[2020-12-13 02:36] diosmosis opened #154 "if import does not have access to reporting API it will just continuously try to make requests"
In this case we should detect the error and abort early w/ a useful error.

[2020-12-13 02:39] diosmosis opened #155 "avg_page_load_time import not supported"
It can be added, possibly, there's a metric ga:avgPageLoadTime which can be used, but it's non-trivial to use it, since Matomo calculates avg_page_load_time by adding all the other averaged page performance metrics together.

We'd need to somehow import every one of the metrics that are actually stored as records in PagePerformance.

[2020-12-14 23:58] Starker3 commented on #114
We've updated the guide for creating OAuth credentials here: https://matomo.org/docs/google-analytics-importer/#1-creating-google-oauth-client-config

If anyone would like to test and give us feedback in case anything needs to be changed or improved, that would be very welcome.

[2020-12-15 09:44] Findus23 commented on #149
This should now be solved with https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/156 in the latest release.

It would be great if someone could report back

[2020-12-21 23:55] mattab commented on #2
fyi unfortunately that wouldn't work because Roll-Up reporting aggregates the data from the logs and we don't have logs for GA imported data.

@diosmosis as this issue is causing many people to be confused, and support requests, would you be able to estimate the effort of implementing this feature? so we know if we can schedule the work in the future. Thanks!

[2020-12-23 06:23] diosmosis commented on #2
@mattab the work involved would be:

- create new form sections for mapping goals/custom dimensions (which includes a checkbox that would trigger an api request to do GA queries, the UI for mapping goals/custom dimensions)
- handling the new input and marking an import as into an existing site (handling means sending the mapping information and loading it into existing option data before starting

[2020-12-23 19:49] tsteur commented on #2
btw there might be also some things to look at whether the site already had data for those imported periods etc.

I suppose invalidation/ report deletion is fine and doesn't change anything

[2020-12-23 19:51] diosmosis commented on #2
in this case I think we'd just import over everything, as is done w/ re-importing data. if they have tracked data, perhaps we'll have to report it somehow or just fail and ask the user to delete the visits if they want to replace it w/ imported data. this could actually be done before importing, just looking for a single visit within the import date range.

[2020-12-29 05:53] mattab commented on #150
We got another similar report recently:

 { "error": { "code": 400, "message": "Invalid value '1234569037.'. Values must match the following regular expression: 'UA-[0-9]+-[0-9]+'", "errors": [ { "message": "Invalid value '1234569037.'. Values must match the following regular expression: 'UA-[0-9]+-[0-9]+'", "domain": "global", "reason": "invalidParameter" } ] } }

[2021-01-14 11:04] anton-lava commented on #2
I'm running into this specific problem. And I can confirm that using the RollUp plugin does not work and just ignores include the imported data.

Would love to see a fix for it 😄

[2021-02-03 23:14] Starker3 opened #161 "Increase timeout when completing OAuth procedure"
When viewing the Google Analytics Importer page for more than 5 minutes, we get a "Form Security Failed" error when clicking on the "Authorize" button
![image](https://user-images.githubusercontent.com/20905821/106821534-356e5f80-66e2-11eb-8da2-4578c83244ca.png)

This can be quite frustrating for people that open the page and don't immediately click on the "Authorize" button after uploading the OA

[2021-02-04 05:06] diosmosis commented on #161
Closing for now since this shouldn't happen in 4.1.0, though there appear to be other issues reported in the forum, so might want to hold of on deploying that to cloud for now.

[2021-02-04 05:06] #161 closed, assigned to nobody

[2021-02-04 10:04] Findus23 commented on #161
For future reference: The forum thread is https://forum.matomo.org/t/authorisation-of-google-analytics-importer-fail-could-not-verify-the-security-token-on-this-form/40514

[2021-02-16 01:04] recipedude opened #162 "4.1 release breaks oauth with "Could not verify the security token on this form""
Was working until 4.1 plugin auto-updated.

When trying to "Re-authorize", behaviour as expected, sends to Google for re-oauth flow, after selecting "Allow" the redirect back to Matomo pukes with:

[code]

Redirect url is:

https://mato.self.hosted/index.php?module=GoogleAnalyticsImporter&action=processAuthCode&state=c7redacted74&code=4/0Aredacted4A&scope=https://www.googleapis.com/auth/analytics.

[2021-02-17 01:17] diosmosis commented on #162
Hi @recipedude, thanks for the report and sorry the error is affecting you, we're aware of this problem and are looking for a fix currently.

[2021-02-17 16:54] recipedude commented on #162
Cool, get that PR merged and roll out release 4.1.2... :)

[2021-02-17 18:15] diosmosis commented on #162
Hi @recipedude, thanks for your comment and sorry you are waiting, we are working on the next release and will release it when it is ready.

[2021-02-18 05:14] #162 closed, assigned to nobody

[2021-02-28 00:54] Maxtab opened #167 "[Matomo Cloud] Unable to verify the security token for this form"
Hi and first, thank you for this tool !

Several weeks ago, I managed to set up the Analytics import successfully. After some time, this one no longer worked (I had launched a large import but which continued normally, day after day).

For more than a month, I have been trying to redo the procedure from scratch to configure the import tool, I followed the tutorial exactly, but at the end, once val

[2021-02-28 22:18] diosmosis commented on #167
Hi @Maxtab, this issue is fixed in the latest release of the plugin, however it hasn't yet been deployed on Matomo cloud (it will be deployed with version 4.2.1 in a couple days).

Also, note you can also go through Matomo support instead of github for things like this if you are a cloud user.

[2021-02-28 22:18] #167 closed, assigned to nobody

[2021-03-02 12:26] alimony opened #169 "Missing most week, month, year reports after import"
After running an import from GA with data starting in October 2014, most week, month, and year reports are missing. This is the month view ending in March (now):

<img width="476" alt="Screenshot 2021-03-02 at 12 56 08" src="https://user-images.githubusercontent.com/331091/109648205-a4609c00-7b5a-11eb-9ab3-5d64591329fa.png">

Switching to day reports I see all the visits, but not for the other typ

[2021-03-02 16:32] diosmosis commented on #169
Hi @alimony, sorry you're experiencing this issue, can you provide the following information:

- what version of Matomo and the plugin are you using?
- a screenshot of the visits over time for days and weeks for Dec 2020 (so I can verify there's data for those periods)
- the output for the command `./console core:invalidate-report-data -vvv --dates=2020-12-01,2020-12-31 --periods=month,week --site

[2021-03-02 17:09] alimony commented on #169
@diosmosis

Matomo 4.2.1, plugin version 4.1.1

Day by day for December 2020, and week by week ending with the four weeks in December 2020:
<img width="475" alt="Screenshot 2021-03-02 at 18 04 28" src="https://user-images.githubusercontent.com/331091/109685753-e05b2780-7b81-11eb-8467-02bb6d25150b.png">
<img width="478" alt="Screenshot 2021-03-02 at 18 05 00" src="https://user-images.githubusercont

[2021-03-02 17:12] alimony commented on #169
Seems like it says `Found invalidated archive we can skip (no visits)` for all dates, even though the day view shows there are visits for those periods.

[2021-03-04 14:24] alimony commented on #169
@diosmosis Any ideas on this?

[2021-03-04 16:19] diosmosis commented on #169
Hi @alimony, apologies for the late reply I took some time off. The code for that check should also check whether there are child archives with visits, but it doesn't appear to be working here... I'll have a look and get back to you sometime today, with some next steps or possible fixes.

[2021-03-04 23:42] diosmosis commented on #169
Hi @alimony, I believe I found the issue and have put a possible fix here: https://github.com/matomo-org/matomo/pull/17304 . Would you be able to apply this change to your matomo instance and see if running invalidate than core:archive works for you?

[2021-03-05 11:04] alimony commented on #169
@diosmosis Fantastic! I don't dare to try it on my machine until the CI checks pass on that PR, risk of messing up the database. 😅

[2021-03-05 11:10] sgiehl commented on #169
@alimony  The relevant parts of the CI checks are passing. Currently only our UI tests are failing. But they are failing kind of randomly atm

[2021-03-07 03:56] diosmosis commented on #169
@alimony there's another way to check if this fix will work. Can you run the following SQL on your matomo instance:

[code]

and post the result? If they all have values of `4` then it would be fixed by the PR above (though there is another way to fix it than applying the patch if you want).

[2021-03-07 12:38] alimony commented on #169
@sgiehl @diosmosis No problem, I'll make a database backup and try applying the patch later today.

[2021-03-07 12:44] alimony commented on #169
@diosmosis Here's the output from the DB query:

[code]

[2021-03-08 18:36] alimony commented on #169
@diosmosis It works! This is the month and year views for the same site after applying the patch, invalidating all periods for that site, and running the archiver again via CLI:

<img width="478" alt="Screenshot 2021-03-08 at 19 34 06" src="https://user-images.githubusercontent.com/331091/110365638-8bb62180-8045-11eb-9e00-eb219bc67f93.png">

<img width="478" alt="Screenshot 2021-03-08 at 19 34 35"

[2021-03-08 23:34] diosmosis commented on #169
@alimony :+1: glad to hear it's working! I'll close this when the core PR is merged.

[2021-03-11 09:55] eschultz-magix commented on #68
As a workaround, you can set ```HTTPS_PROXY``` as environment variable. Case matters. This variable is respected by Guzzle, which is used in the background. If you are using nginx with php-fpm, you have to set ```env[HTTPS_PROXY]``` in ```/php/<version>/fpm/pool.d/www.conf``` because nginx clears all environment variables by default.

[2021-03-14 20:51] diosmosis commented on #169
Fixed by https://github.com/matomo-org/matomo/pull/17304

[2021-03-14 20:51] #169 closed, assigned to nobody

[2021-03-17 13:14] fjst opened #171 "How to change Matomo ID while importing"
How can i Change the Matomo ID while importing?

[2021-03-17 19:44] diosmosis commented on #171
Hi @fjst, unfortunately we don't answer questions in this issue tracker but only handle feature requests or bug reports. You could ask the question in our forum: https://forum.matomo.org/ (it would also help you get a faster answer if you explained in detail what you mean by the "Matomo ID" since I don't know what you mean by that). Thanks for your understanding.

[2021-03-17 19:44] #171 closed, assigned to nobody

[2021-03-22 01:48] diosmosis commented on #54
In case anyone wants to avoid using `nohup`, it's possible w/ the latest version to use the `GoogleAnalyticsImporter.useNohup` DI setting. This would require adding the setting to your matomo/config/config.php file (creating it if it's not there):

[code]

[2021-03-24 15:41] tunetheweb opened #173 "Nohup error message"
Any ideas why we have this:

https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/7927ff84db063ce77c2d4b7daa004bf8f8801692/Diagnostic/RequiredExecutablesCheck.php#L63-L66

Since `which nohup` will return 0 when it's successul, and non-0 when it can't find the binary isn't this wrong?

Woudn't it be better as:

[code]

This lead to me having a critical error message for ages, even thou

[2021-03-24 15:55] Findus23 commented on #173
I think (but I am not entirely sure as I am not that familiar with PHP) the confusion is that you think that `shell_exec` will return the return code of the command. But it returns the output of the command which is empty (converting to false) if it is missing and the path to the binary if it exists (which converts to true).

So the function works as it should (as long as the shell used by PHP has

[2021-03-24 16:20] tunetheweb commented on #173
Ah you are correct sorry.

So it appears my php cannot find `which`. As soon as I change it to this it works:

    private function isNohupPresent()
    {
        putenv('PATH=/usr/bin');
        return (bool) @shell_exec('which nohup');
    }

Looking into my setup so avoid having to add that.

Will close this anyway. Thanks for getting back so quickly!

[2021-03-24 16:20] #173 closed, assigned to nobody

[2021-03-24 16:56] tunetheweb commented on #173
FYI I had to uncomment this line in /etc/php-fpm.d/www.conf and then bounce the php-fpm service

[code]

All working now with the original code.

So guess the error message was right (it couldn't find `nohup`), and I should have stopped making excuses and read it and fixed the problem it was complaining about! 🤣

[2021-03-25 16:10] NGXG opened #174 "How/whereto set up php_exec & nohup path ?"
Hi,

Using a virtual machine running with Plesk and many PHP versions, the plugin can't find php or nohup  executable.
Is there a proper way to give the right path in the plugin ?

I've read some things about not using them because of limitations, but in my case those executable are available and not restricted.

Can i set the right paths manually ? And if yes, in wich file of the plugin should I

[2021-03-25 16:24] Findus23 commented on #174
Hi,

I think the best way is to set the PATH variable for PHP as this way it works not just for Matomo, but for every PHP application (see https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/173#issuecomment-805993715)

[2021-04-05 12:31] alimony opened #175 "Import jobs are sorted by site ID but alphabetically instead of numerically"
The list of import jobs seems to be sorted by site ID, but alphabetically, e.g. I get IDs in this order:

[code]

Instead of

[code]

[2021-04-07 21:58] #175 closed, assigned to nobody

[2021-05-03 12:08] gruberro commented on #169
I'm experiencing the same problem as well for a cloud hosted instance. Is there a way to re-create the archives later via API or do I have to wait for a new released version and import GA data again? Not sure where the fix is located...

[2021-05-04 02:14] diosmosis commented on #169
Hi @gruberro, do you mean for a matomo.cloud account? If so please contact our support at `support@matomo.cloud`.

If you mean your own matomo setup on a cloud provider like aws or azure that you manage entirely, then the fix is in Matomo version 4.2.1, so you'd have to update it yourself. If both Matomo and the GoogleAnalyticsImporter plugin are up to date, then this is a new problem.

[2021-05-04 06:35] gruberro commented on #169
Hi @diosmosis, thank you for your reply. I wrote an email to the support address you mentioned - yes, we're using matomo.cloud. Are you sure, the fix is version `4.2.1`? As far as I can see, `4.2.1` was tagged by the first of March, while the fix-PR was merged on 15th of March?

[2021-05-04 09:48] alimony commented on #169
It's definitely not in 4.2.1, I'm still running with the manually applied patch on my instance, waiting for a proper release.

[2021-05-04 19:53] diosmosis commented on #169
@gruberro apologies, you're correct. The change also doesn't appear on matomo.cloud, but we should be able to apply it there in a day or two.

[2021-05-04 21:22] gruberro commented on #169
@diosmosis no worries, thx for the info and happy to hear that the fix might be applied soon. So I'll keep an eye on the repo subscriptions and re-import the data once the fix is applied! TYVM for you immediate support!

[2021-05-04 21:45] diosmosis commented on #169
@gruberro please note: if you are experiencing this exact issue, and day periods are present, but other periods are missing, then you won't need to reimport. Our support will need to do something, but you shouldn't have to do anything yourself (so no need to re-import).

[2021-05-05 06:47] gruberro commented on #169
That sound's great, thank you @diosmosis!!

[2021-05-18 07:56] EmbDclic opened #185 "Can't add a new import job"
Hi,

I've imported 2 sites a few weeks ago and everything went right. From the same Google Analytics account I just tried to import another website but when the form is submitted the page reload but I don’t get any feedback (good or wrong) and the import job is not added.

The only difference I see is that I have installed the latest Matomo update (4.3.0). Is there any know issue or am I doing som

[2021-05-18 17:03] diosmosis commented on #185
Hi @EmbDclic, I just tried myself and was able to start an import with an issue. Would you be able to provide some screenshots of the import form (with sensitive information changed but the format kept intact, for example, UA-573657-1 changed to UA-555555-5)?

[2021-05-19 06:15] tfunq commented on #185
Hi,
I have the same problem. And I can't remove a previously finished job. No feedback given. Page only reloads. I upgraded to Matomo 4.3.0 and GoogleAnalyticsImporter 4.1.5.

[2021-05-19 08:42] EmbDclic commented on #185
@diosmosis Thanks for testing. Here is a screenshot of the values I enter in the different fields.
![screenshot-analyticsimporter](https://user-images.githubusercontent.com/23118296/118782715-ae0ebb80-b88e-11eb-8f32-93096fd58834.png)
I’m also on Matomo 4.3.0 and GoogleAnalyticsImporter 4.1.5.

[2021-05-19 16:09] nwabeen commented on #185
Hi,
In the www.yourmatomoinstallationpath.tld/config/config.ini.php file, try changing this parameter to this new value :
adapter=MYSQLI

Next, you can try importing the data with the command line :

cd folder/yourmatomoinstallationpath

php ./console googleanalyticsimporter:import-reports --property=YOUR_PROPERTY_ID --view=YOUR_VIEW_ID

Change OUR_PROPERTY_ID and YOUR_VIEW_ID with your real value

[2021-05-19 17:00] diosmosis commented on #185
@EmbDclic @tfunq are either of you able to provide temporary access to your matomo instances for further debugging? If so, can you email dizzy@innocraft.com?

[2021-05-19 17:14] EmbDclic commented on #185
@diosmosis I just sent you an email with the access information to our Matomo instance. Thank you.

[2021-05-19 20:01] diosmosis commented on #185
Thanks for the assistance @EmbDclic, there is a regression in core causing the requests to fail: https://github.com/matomo-org/matomo/issues/17596

We'll try and fix it soon.

[2021-05-19 21:40] #185 closed, assigned to nobody

[2021-05-19 22:17] diosmosis commented on #185
Hi @EmbDclic and @tfunq I've just released a new version with a fix, can you try using version 4.1.6 of the plugin?

[2021-05-20 06:32] tfunq commented on #185
Works perfectly for me. Thanks a lot :)

[2021-05-20 08:00] EmbDclic commented on #185
I confirm that the problem is solved with this fix. Thanks a lot!

[2021-07-12 05:48] gpadbidri opened #192 "After GA Import View Counts Discrepancy for Posts having a GOOD Count in GA"
Hi,

We are on the LATEST Version of MAtomo.

We have a WP Multisite where we display View Counts and Top Viewed Posts in Sidebar. We have migrated from GA to Matomo for good. We used GAImporter and imported 3 months data (to NOT exhaust the GA API Limit threshold) daily until the entire data was imported.

After migrating from GA to Matomo; we have INVALIDATED and RE-PROCESSED data using CONSOLE

[2021-09-10 10:08] rolfcronberg commented on #68
I have the same problem, running Apache on Debian. I can access google with curl from this server with HTTPS_PROXY in environment but not from the plugin.

![bild](https://user-images.githubusercontent.com/17985774/132837515-378f6554-6911-4cf3-a981-c612becb67a4.png)

![bild](https://user-images.githubusercontent.com/17985774/132837900-e8380132-a667-4249-bd44-23f375c148a9.png)

If anyone have an id

[2021-09-15 12:56] sgiehl commented on #68
I have prepared some changes that might fix the issue. But as I haven't set up the Google importer locally, nor do I use a proxy, I'm not able to test that. Is anyone able to apply the changes in https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/202 and can check if that helps

[2021-09-15 14:20] rolfcronberg commented on #68
I'll take a look at it to morrow.

[2021-10-26 08:37] dathwa commented on #54
Can someone please explain where exactly i may disable nohup. Matomo V4.5.
There is no `config/config.php file`.
There is `config.ini.php `
tried `GoogleAnalyticsImporter['useNohup] = false` but it breaks site.
Thanks.

[2021-10-26 18:37] diosmosis commented on #54
@dathwa `config/config.php` is a file you create the first time you need it. Matomo doesn't break if it's not there.

[2021-10-29 12:56] pioc92 opened #204 "Argument #1 ($lhs) must be passed by reference, value given"
Hi, on my dashboard of the google analytics importer plugin, i have this error in orange

WARNING: /plugins/GoogleAnalyticsImporter/ImportStatus.php(227): Warning - Piwik\Plugins\GoogleAnalyticsImporter\ImportStatus::Piwik\Plugins\GoogleAnalyticsImporter\{closure}(): Argument #1 ($lhs) must be passed by reference, value given - Matomo 4.5.0 - Please report this message in the Matomo forums: https:

[2021-10-29 13:08] sgiehl commented on #204
Hi @pioc92
Thanks for creating this issue. The plugin was developed on PHP 7, but we aim to have it compatible with newer PHP versions as well. Our automated tests for this plugins are currently only running on PHP 7, but we are preparing it to run on PHP 8 as well. Hope we can sort out this issue within that process.

ping @AltamashShaikh

[2021-11-02 21:25] KarthikRaja1388 commented on #150
Another report:
I cant import the google analytics data, my ID is not UA format but G-XXX. so Matomo doesnt let me import any past data.

[2021-11-03 02:29] #204 closed, assigned to nobody

[2021-11-03 03:03] AltamashShaikh commented on #204
@pioc92
It should be fixed in the next release

[2021-11-09 07:47] AltamashShaikh commented on #204
@pioc92
Version 4.18 released.

[2021-11-09 07:56] pioc92 commented on #204
Thank you i Will try it

Le mar. 9 nov. 2021 à 08:47, AltamashShaikh ***@***.***> a
écrit :

[2021-11-12 02:32] Starker3 commented on #150
We have another request regarding this ticket from a user today. They are unable to import their historical data from GA due to the importer not yet supporting non-UA property IDs

[2021-12-21 09:51] Chardonneaur opened #217 "Google Analytics Import issue"
This error message appeared after the configuration of the Google Analytics Importer plugin within matomo.cloud on December 20/12/2021.
"{ "error_description": "Either access_token, id_token, or token_handle required" }"
"WARNING: /plugins/GoogleAnalyticsImporter/Google/Authorization.php(90): Notice - Undefined index: access_token - Matomo
4.5.0 - Please report this message in the Matomo forums: h

[2021-12-21 13:35] sgiehl commented on #217
Hi @Chardonneaur. Did that happened when trying to authenticate the account or did when trying to start an import?

[2021-12-23 10:10] Chardonneaur commented on #217
@sgiehl finally the issue got fixed, sorry for that.

[2021-12-23 10:10] #217 closed, assigned to nobody

[2022-02-18 10:28] fwertel opened #224 "Google Anlaytic Import (GA4)"
Hello,

We would like to import GA4 data in Matomo.

It doesn't seem doable - the Google Analytics Import requires the field "Google Analytics Property ID" which doesn't exist with GA4.

Is there another option (available API, etc...) ?

## Summary

Being able to import GA4 data in matomo.

## Your Environment

Matomo's cloud version.

[2022-02-18 10:32] sgiehl commented on #224
Hi @fwertel
Thanks for creating the issue. If the Google Analytics import plugin doesn't work with GA4, guess we need to check if it's possible to fix that. There currently isn't any other possibility to do that.

I'll move this issue to the plugin repo, so it will be handled there.

[2022-02-20 18:44] tsteur commented on #224
Hi @fwertel  thanks for creating this issue. I'll close this issue as a duplicate of https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/150 You can watch #150 if you want to be updated about that issue.

[2022-02-20 18:44] #224 closed, assigned to nobody

[2022-03-25 14:36] MatomoForumNotifications commented on #150
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/import-data-from-google-analytics-confused-with-google-ids/45283/2

[2022-04-05 03:46] jmumby opened #233 "Add a message in the UI to say that the data is importing into a new idsite"
We get several questions about merging data after importing to the Cloud. Our documentation seems clear a new idsite will be created but this seems to being missed by a lot of users.

Can we edit the message at the top of the importer screen to mention a new idsite will be created?

![image](https://user-images.githubusercontent.com/4339071/161674719-ff97c669-bddc-4537-82ca-de155201dffe.png)

[2022-04-05 04:04] AltamashShaikh commented on #233
@jmumby Something like this will work ?
![Screenshot from 2022-04-05 09-33-41](https://user-images.githubusercontent.com/14902277/161676744-f29eba95-1e04-46cb-8c11-f6d64eb9f0f8.png)

[2022-04-05 04:07] AltamashShaikh commented on #233
Even this is 1 option
![Screenshot from 2022-04-05 09-36-44](https://user-images.githubusercontent.com/14902277/161676926-f3c8e4d7-01ac-44ac-9958-53dd62105f8c.png)

[2022-04-05 23:20] jmumby commented on #233
Yes, that looks good,

[2022-04-07 06:41] Daniel123454321 opened #235 "User does not have sufficient permissions for this account"
We have a problem importing data from an analytics account where we are not the owner but got access granted (full administration rights).

The error is the following:
{ "error": { "code": 403, "message": "User does not have sufficient permissions for this account.", "errors": [ { "message": "User does not have sufficient permissions for this account.", "domain": "global", "reason": "insufficientP

[2022-04-07 07:42] justinvelluppillai commented on #235
Hi @Daniel123454321, can you double check your permissions in the google analytics account? It needs more than View permissions. If the account does have Administrator rights as you say that should work fine, but this error suggests it isn't Administrator.

<img width="825" alt="Screen Shot 2022-04-07 at 7 35 22 PM" src="https://user-images.githubusercontent.com/1127121/162145344-74f89b0e-ee09-422

[2022-04-07 07:48] Daniel123454321 commented on #235
@justinvelluppillai
more than double checked. It's the Administration role.
I can also add users and change everything with my account directly in GA (same account as the account used with the importer)

![image](https://user-images.githubusercontent.com/35851825/162147668-7c06191c-6933-43ea-8f6f-c8cc64920e4e.png)

It's really a strange problem. I have this with 3 out of 4 shared GA properties.

[2022-04-08 07:25] #233 closed, assigned to nobody

[2022-04-13 10:19] Ornitier opened #239 "Referrers datas missing before 2020"
Hello everyone,

I did a large export from GA, from 2014 to 2022, but I see missing data, in particular referrers datas.
See below screen from GA and from Matomo :

GA
![image](https://user-images.githubusercontent.com/4431707/163156777-3f012177-948d-4046-9ecd-429ac5e45473.png)

Matomo
![image](https://user-images.githubusercontent.com/4431707/163156983-5e62c316-ebc2-4d56-bb73-94926f1ffb54.png)

F

[2022-04-16 23:13] ghnp5 opened #241 "Does importer REPLACE data instead of MERGING data?"
When I migrated from GA to Matomo,
I set up the Google Analytics Importer from when the GA property started, until "the end" (no specific date).

I saw that GA Importer created a new site, so I simply used that same site ID to track on my live site, so I don't have data split in two different sites on Matomo.

However, now that the GA Importer finally finished importing, it appears that it cleared

[2022-04-19 10:15] Daniel123454321 commented on #235
@justinvelluppillai After two weeks the problem still exists and yes I think there is a bug. If you want I can create you also an admin account so you can test/try it yourself.

[2022-04-19 21:52] justinvelluppillai commented on #235
Thanks @Daniel123454321 for reporting. I will put it in the backlog for prioritization.

[2022-04-20 03:57] AltamashShaikh commented on #241
@ghnp5 This shouldn't have happened ideally, to get the data back we can try few things if the GA importer has finished importing.
1. Ensure no more importers are running
2. Invalidate the reports since started tracking live data
Refer this [FAQ](https://matomo.org/faq/how-to/faq_155/ ) to invalidate report for that site.
3. Wait for rearchiving to start and complete or manually run the archive co

[2022-04-20 12:42] Daniel123454321 commented on #235
@justinvelluppillai  thank you.
If someone from the the dev team needs access I can add them to one of the sites.
I can also create some test credentials for testing on google cloud for that prupose.

[2022-04-21 02:25] ghnp5 commented on #241
Thank you very much! That seems to have recovered the data :)

[code]

[2022-04-21 02:25] #241 closed, assigned to nobody

[2022-04-25 08:42] MatomoForumNotifications commented on #17
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/google-analytics-importer-disabled-for-security-reasons/45675/2

[2022-05-02 12:37] niklasternstedt opened #242 "Invalid authentication credentials Google Analytics importer plugin"
## Expected Behavior
Possible to import data from Google Analytics without any errors.

## Current Behavior
When importing data from Google Analytics I get this error message:
`{ “error”: { “code”: 401, “message”: "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See [https://developers.google.com/identity/sign-in

[2022-05-05 17:24] petrillek opened #243 "Difference between Matomo API cals number and Google."
Hello,
new Matomo user here.

I've a couple of sites running on GA for 10+ years. I would like to migrate them to Matomo for various reasons.
It imported about 5 months of data from one of the site and stopped with status: **rate_limited**. If I look in the Google console I can see the API usage is only about 20% (~10.000 api calls out of 50.000).
I know it will take days to import all of these ol

[2022-05-06 02:33] AltamashShaikh commented on #242
@niklasternstedt Have you followed all the steps mentioned [here](https://matomo.org/faq/general/set-up-google-analytics-import/) ?
Also can you try to re authorise Matomo and check ?

[2022-05-06 02:39] AltamashShaikh commented on #243
@petrillek I hope this explains your concern.
![image](https://user-images.githubusercontent.com/14902277/167057758-8d5c05c0-3108-4de9-b661-7b1d34313848.png)

[2022-05-06 02:39] #243 closed, assigned to nobody

[2022-05-12 06:53] AltamashShaikh commented on #150
For documentation
Unsupported/Incompatible Doc/Metrics
[code]
No Conditions for goals to fire, as goals are converted to events.
Couldn't find anything for segments in GA4 yet.

[2022-05-12 13:37] Tybaze opened #246 "Authorization process broken without error"
Dear Matomo team,

I have found an unwanted behavior that make me spend 1 hour to find the issue about the "redirect_uri" of the OAuth process.
Dear Matomo team,

I have found an unwanted behavior that make me spend 1 hour to find the issue about the "redirect_uri" of the OAuth process.

I should do a PR but I'm not fluent with your coding process.

Let me explain the problem, in the Google Author

[2022-05-13 03:13] AltamashShaikh commented on #246
@Tybaze we wouldn't want to change any existing config generated by Google. This looks more like a issue while configuring OAuth keys, which can be fixed easily there.

[2022-05-13 03:14] AltamashShaikh commented on #246
Closing this for now, if more people report this similar issue we can think of adding a fix for it

[2022-05-17 09:22] Tybaze commented on #246
Another solution, really more accurate than my previous fast bug fix :
First you load the Google Json conf
Then you apply Matomo configuration to overwrite the wanted value.

But a configuration setter need to be added to apply the redirectUri

There will be probaly not any other report of this bug, because it takes me more than one hour dig into the code to diagnose it, and standard user will tel

[2022-05-18 03:17] AltamashShaikh commented on #246
@Tybaze We understand your concern, we can try to validate the domain in such case.
I will try to find sometime to do so in coming weeks.

[2022-06-08 09:11] AltamashShaikh commented on #150
Hello everyone added support for GA4 in this branch #245 and would be great if someone can test this and share early feedback.

You can refer this [faq](https://matomo.org/faq/plugins/faq_21/) on how to add plugin.

If you have added via git you can simply checkout to `150-GA4-Import` branch.

Any other difficulties please mention here.

If you have already configured Oauth you need to enable 2 mo

[2022-06-14 14:58] jbjanot opened #251 "Can not import after configuring Oauth"
Hi Matomo team!

I went through all the process of creating an Oauth id to import my Google Analytics data to Matomo, in the WordPress environment.
It seems to work fine, I was able to approve the connexion with my Google Account.
However, once the approval has been made, the scheduler import is blank, and I have console errors.
Specifically, here is the error I am seeing :

[code]

There is also

[2022-06-14 20:07] mattmary commented on #251
Hi team,

others users seem to be affected too
https://wordpress.org/support/topic/import-google-analytics-scheduler-stay-empty/#post-15737318

[2022-06-16 03:59] AltamashShaikh commented on #251
This is more of a issue with core not with the plugin, https://github.com/matomo-org/matomo/pull/19362 should fix the issue

[2022-06-17 03:21] Starker3 commented on #251
FYI this happened in a standard install when testing the GA4 branch:
![image](https://user-images.githubusercontent.com/20905821/174218388-a1a5de09-6b9b-4498-9187-4e1ace28f059.png)

Applying the patched file from https://github.com/matomo-org/matomo/pull/19362 resolved the issue

[2022-06-22 19:55] MatomoForumNotifications commented on #251
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/schedule-an-import-is-not-showing-google-analytics-importer/46361/2

[2022-07-06 07:27] AltamashShaikh commented on #246
@Tybaze FYI created this PR - https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/255 to solve such issues

[2022-07-07 13:30] valerio-bozzolan commented on #146
~~Uhm. Has anyone been able to find this issue number? (@diosmosis)~~

Here the related issue:

https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/2

[2022-07-09 17:05] Tybaze commented on #246
Thank you very much !
I have tested the PR with an multi-url starting with a wrong one, and it's worked.

[2022-07-09 17:05] #246 closed, assigned to nobody

[2022-07-20 14:59] miiimooo commented on #2
@diosmosis could we discuss this in a direct message?

[2022-07-21 13:26] magicmax1967 commented on #251
Hello, same issue here. [Fix #19362](https://github.com/matomo-org/matomo/pull/19362) does not resolve for me.

[2022-07-22 02:33] AltamashShaikh commented on #251
@magicmax1967 Do you get any error in console ?
If yes can you paste the screenshot of that here ?

[2022-07-22 05:17] bsutton commented on #150
Is this live on cloud?

I've just gone through the guide https://matomo.org/faq/general/set-up-google-analytics-import/

The problem is the import UI is still asking for a UA- property id and a view ID neither of which GA4 appear to have?

[2022-07-22 05:19] AltamashShaikh commented on #150
Hey @bsutton
We haven’t merged the GA4 importer code.
Hopefully once Matomo 4.11 releases we can merge and release it

[2022-07-22 15:56] atom-box commented on #2
One user contacted us this week:
"My organisation has recently started using Matomo and we're busy importing old data"
The user offers to help, because he would like to see this feature realized.

[2022-07-26 07:52] Chardonneaur opened #259 "Detail documentation about the raw data"
Hi team,
Would it be possible to better explain why log data cannot be imported on the following url: https://matomo.org/faq/general/limitations-when-importing-google-analytics-data/
is it a limit of Google Analytics, does Google hide this data? or is it because the data format is different?

[2022-07-26 09:23] Marion5 commented on #150
Yeah, we would also be happy about a GA4 importer!

[2022-07-27 14:36] PrimeranoC commented on #239
Hi,

I have the same issues. My import is still ongoing, but for the period already archived the referral data ara missing.
Is it possible to fix this issue?

[2022-07-28 02:27] AltamashShaikh commented on #239
Please check this [doc](https://support.google.com/analytics/answer/7667196?hl=en). It can be a issue due to your data retention probably.

[2022-07-28 05:36] Ornitier commented on #239
Hi @PrimeranoC and @AltamashShaikh

I forgot to give news on this case.

Had a little chat with the GA Reporting Google team, it was "normal" that API do not return data for this period because of the data retention that AltamashShaikh mentionned.
But, they could not answer me why I continue to see them into GA views, which was incoherent.

As for me, I have found a way to extract data from browse

[2022-07-28 09:17] PrimeranoC commented on #239
Hi @Ornitier and @AltamashShaikh ,

I also don't understand why then it is possible to see that data on GA, if it should have been deleted. I have the same problem also for the data of the visits from social networks.

@Ornitier I would be interested in the method you found to extract data from browser, and re-inject them in Matomo.
is it a replicable method? does it require advanced skills?

Than

[2022-07-28 09:33] Ornitier commented on #239
This is the question I asked them. But as Reporting team and "View" team is not the same, they could not answer this...

For the extraction, it's a bit hard.
On GA side, I used the Export button with CSV. You have to do it for **every day** you want to "recover".
Then, I made a plugin, that read all the CSV en push them into Matomo database.

I can't give you the scripts I used, as they are very s

[2022-07-28 13:27] PrimeranoC commented on #239
Thank you for the tips, but I think it is a bit too complex, I think I will give up for now. Later I will see if it is necessary to do it or not.

Thanks again

[2022-07-29 02:33] AltamashShaikh commented on #239
@PrimeranoC You can check the API response by visiting this URL - https://ga-dev-tools.web.app/query-explorer/
And can select following metrics and dimensions along with the date range where referrer is missing.
![Screenshot from 2022-07-29 08-00-18](https://user-images.githubusercontent.com/14902277/181670488-7bf942f2-f376-42bb-a0f0-ad66904c88bb.png)

I can see for older dates the API returns emp

[2022-07-29 07:58] Ornitier commented on #239
Yes ! Thank you for your feedback.

[2022-07-29 07:58] #239 closed, assigned to nobody

[2022-08-01 00:09] varunKothare opened #261 "Add required date format to the date field settings' help text"
Administration->System->Analytics Importer

start-date

end-date

It would be good to identify the format of the date

[2022-08-01 03:54] AltamashShaikh commented on #261
Something like this will be helpful @varunKothare ?
![Screenshot from 2022-08-01 09-24-10](https://user-images.githubusercontent.com/14902277/182069127-cf69460e-d1d5-4b04-919d-27b2a91db9c0.png)

[2022-08-01 04:11] AltamashShaikh commented on #259
@Chardonneaur Google doesn't hide this data
The API requests has a daily limit, importing such granular data will only make the process really slow has it will takes day to import a single site data in some cases.
We will try and update the above FAQ too.

[2022-08-01 04:12] AltamashShaikh commented on #2
@atom-box We have this issue in our pipeline, but unfortunately we don't have any ETA on this
Once we started working on this we can give you a better ETA

[2022-08-01 04:21] varunKothare commented on #261
@AltamashShaikh Yes please.

[2022-08-03 13:24] madeincima commented on #251
Same issue here.

We have the error "Uncaught Error: Unknown plugin in vue-entry: GoogleAnalyticsImporter.ImportScheduler" in "asset_manager_core_js.js:777:153"

[2022-08-04 02:26] AltamashShaikh commented on #251
Hello everyone, we have Just release Matomo 4.11 and hopefully soon will have a Matomo 4.11 for wordpress, which will fix this issue.

[2022-08-10 07:12] MacRX17 commented on #150
Anything new about the GA4 Importer? Currently it is not possible to import our GA4 data into Matomo. Thanks alot!

[2022-08-10 08:20] AltamashShaikh commented on #150
Matomo 4.11 is just released we will wait for couple of weeks to plan the new version release of this plugin, which contains GA4 Importer

[2022-08-12 09:11] CG-White commented on #2
Hi, we also have this issue and would like to import data into an existing Matomo site/ID.
Would it be possible to indicate some sort of planning ?
Cheers!

[2022-08-12 09:38] AltamashShaikh commented on #2
@CG-White We are still evaluating and hopefully will have a plan soon and we can answer your question post that.

[2022-08-12 14:30] CG-White commented on #2
@AltamashShaikh Thanks for the reply. Since so many people are moving away from Google, at least in Europe, I think this functionality would be useful to a lot of customers.

[2022-08-23 13:06] miiimooo opened #262 "Google Workspace account"
The documentation specifies that with an internal Google cloud app and a Google Workspace account it is not necessary to re-authorize the importer every day, and also there should be no daily limits in the Google API.

I cannot confirm this: I have set up the cloud app from my workspace account, it's internal but still I need to re-authorize the app every day.

Can you confirm this works, is there

[2022-08-23 21:59] snake14 commented on #262
@miiimooo Thank you for creating this issue. I'm sorry to hear that you are experiencing difficulties. I believe that the [FAQ describing authorising](https://matomo.org/faq/general/set-up-google-analytics-import/#2-creating-google-oauth-client-config) was recently updated to show the necessary steps to avoid having to re-authorise. I think the key steps are 13-15, where you skip adding scopes and

[2022-08-24 05:34] AltamashShaikh commented on #262
@miiimooo Is your APP "internal" or "external" ?
If its "external" can you check if you have added any scopes ?
If yes remove that and publish your App and re-authorise and post that the re-authorisation after 7 days should go away.

We recently update the "setup guide", so please do have a look at the [FAQ](https://matomo.org/faq/general/set-up-google-analytics-import/#2-creating-google-oauth-cli

[2022-08-24 08:12] miiimooo commented on #262
@snake14 @AltamashShaikh thanks for getting back to me. I have set the app to User type: internal.

At the bottom of the summary page it says:
![image](https://user-images.githubusercontent.com/1226434/186365922-571d5638-1ed5-45c8-a6c6-8af467c8a85f.png)

Do you mean I should remove this Scope, and then re-authorize?

At the moment, the GA importer gets killed after a while. Here a screenshot showi

[2022-08-24 08:48] AltamashShaikh commented on #262
@miiimooo Was it "Internal" from start ? Or did you just updated to "Internal". If yes just reauthorise, resume the import by clicking the play button and check again.

Also for internal accounts scope addition is really optional and not needed so you can keep or delete it anything would do.

[2022-08-25 02:51] AltamashShaikh commented on #251
@jbjanot Should we close this issue ?

[2022-08-25 06:28] #251 closed, assigned to nobody

[2022-08-25 06:29] jbjanot commented on #251
@AltamashShaikh Yes, the issue is fixed in the latest version of the plugin. Thank you for your help!

[2022-08-31 03:30] snake14 commented on #262
@miiimooo Since it's been a while without hearing back, I'm going to go ahead and close this issue. If you have any further questions or feel that this issue needs to be reopened, please let us know.

[2022-08-31 03:30] #262 closed, assigned to nobody

[2022-09-05 04:56] #150 closed, assigned to AltamashShaikh

[2022-09-05 09:39] xabaras73 opened #265 "Import google analytics bug"
I did several tests on importing google analytics data
I encountered two problems:

Minor: the data imported prior to July 2012 are missing the entry page, exit page and other reports.
More serious: Referer site data for periods older than 2 years is not imported
The data on the google analytics reports are there and trying to access via Data Studio (therefore via API) there are equally

It seems

[2022-09-05 21:08] snake14 commented on #265
Hi @xabaras73 . Thank you for taking the time to create this issue. It does sound like a compatibility issue, but I'm not familiar enough with it to know for sure. Can you provide any insights @AltamashShaikh ?

[2022-09-06 02:43] AltamashShaikh commented on #265
@xabaras73 Can you check this [issue](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/239)
The difference is due to API not returning data for older dates.

[2022-09-06 05:48] #265 closed, assigned to nobody

[2022-09-06 07:30] xabaras73 commented on #239
Let me disagree

I have a 26 month data retention

In fact I don't care about old date referer sites. But it's not a API problem

1) with data study (which is based on bees) the data are there
2) using https://ga-dev-tools.web.app/query-explorer/ on dates longer than 26 months the referer data is listed

![image](https://user-images.githubusercontent.com/112861851/188573702-7c72da1e-3fe5-480b-bf26

[2022-09-06 07:30] xabaras73 commented on #265
Let me disagree

I have a 26 month data retention

In fact I don't care about old date referer sites. But it's not a API problem

1) with data study (which is based on bees) the data are there
2) using https://ga-dev-tools.web.app/query-explorer/ on dates longer than 26 months the referer data is listed

![image](https://user-images.githubusercontent.com/112861851/188573702-7c72da1e-3fe5-480b-bf26

[2022-09-06 07:45] AltamashShaikh commented on #265
@xabaras73
Did you try with the following combination ?
![Screenshot from 2022-07-29 08-00-18](https://user-images.githubusercontent.com/14902277/181670488-7bf942f2-f376-42bb-a0f0-ad66904c88bb.png)

How many results is the API returning ? If yes can you schedule a new Import by enabling verbose and share the log file
The path to your log file will be `/your/path/to/your/matomo/tmp/logs/gaimportlog

[2022-09-06 07:45] martinomh commented on #265
The problem lies when the API request contains ga:users metric.

That's a metric that's unavailable for periods exceeding the data retention.

When queried, GA APIs give an empty response.

The Matomo plugin apparently doesn't query ga:users in every API request... and that's the reason why you're seeing partial data instead of no data.

I humbly suggest to add an option to NOT import Users data t

[2022-09-06 07:56] xabaras73 commented on #265
We finally figured out where the problem is
I also hope the plugin can be updated to use ga: session beyond the retention date

[2022-09-06 07:58] xabaras73 commented on #239
Finally discovered the problem

You see
https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/265

[2022-09-06 08:00] AltamashShaikh commented on #265
@xabaras73 that wont be a easy fix I assume but if you can send the PR for the same will be happy to merge it

[2022-09-06 08:18] MatomoForumNotifications commented on #265
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/import-google-analytics-bug/47230/2

[2022-09-06 08:22] AltamashShaikh commented on #265
@xabaras73 We already have this in place - https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/4.x-dev/Google/GoogleAnalyticsQueryService.php#L27 and https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/4.x-dev/Google/GoogleAnalyticsQueryService.php#L108

[2022-09-06 12:00] heurteph-ei commented on #259
Hi @AltamashShaikh
Have also a look at:
https://forum.matomo.org/t/google-analytics-import-remove-limit/47191/3
I think this could be added in the doc.

[2022-09-06 12:01] MatomoForumNotifications commented on #259
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/google-analytics-import-shows-rate-limited-before-reaching-quotas-from-google/47050/10

[2022-09-06 12:01] MatomoForumNotifications commented on #259
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/google-analytics-import-remove-limit/47191/5

[2022-09-06 12:07] AltamashShaikh commented on #259
@heurteph-ei sure 👍🏻

[2022-09-15 07:38] MarcoPNS opened #272 "Problems with the recent change "import recent dates first""
I already pointed out in the PR #245  that there is a problem with bigger GA Properties and the recent change "import recent dates first". The import switch to soon to a finished state that I can't import any bigger GA Property.

There are already some logs from me in the PR. Unfortunately there is not much to see in the logs. My guess is (since the "Last imported day" is also not updated correctl

[2022-09-15 20:53] snake14 commented on #272
Hi @MarcoPNS . Thank you for taking the time to create this issue and provide more information. I'm sorry to hear about the problems you've been experiencing. @AltamashShaikh do you have any insights or suggestions?

[2022-09-16 05:17] AltamashShaikh commented on #272
@MarcoPNS Can you check if #273 works as expected ?

[2022-09-16 07:34] AltamashShaikh commented on #272
@MarcoPNS Updating `ImportStatus.php` file on your instance with this [file](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/7d63d512c9a2b530d2980e9d218d1bbfc0353fcd/ImportStatus.php) should be sufficient

[2022-09-17 08:14] pdechanoz opened #274 "Impossible to relance import"
Impossible to relance import  : (Entry #0) is finished, moving on.

 What can I do ?

Logfile :

Running archiving for newly imported data...
INFO [2022-09-17 00:06:18] 2051792  ---------------------------
INFO [2022-09-17 00:06:18] 2051792  INIT
INFO [2022-09-17 00:06:18] 2051792  Running Matomo 4.11.0 as Super User
INFO [2022-09-17 00:06:18] 2051792  ---------------------------
INFO [2022-09-17

[2022-09-18 21:06] snake14 commented on #274
Hi @pdechanoz . Thank you for taking the time to create an issue. Thank you for providing the log data. I'm still not quite sure which exact issue you are trying to address. Could you please provide a bit more context? @AltamashShaikh can you tell what's going wrong?

[2022-09-19 02:49] AltamashShaikh commented on #274
@pdechanoz Can you run a new import and enable verbose logging ?
It will create a log file in `/path/to/your/matomo/tmp/logs/gaimportlog.{idSite}..log` and you can share that file which will help us in debugging the issue

[2022-09-19 03:13] #272 closed, assigned to nobody

[2022-09-19 04:34] pdechanoz commented on #274
I have relaunched with a new idiSite :

logfile (gaimportlog.6..log  total = 2914 lines )

line 2813 to end :

WARNING [2022-09-19 04:18:12] 3740682  Encountered unknown browser: YaBrowser. A new mapping should be added.
WARNING [2022-09-19 04:18:12] 3740682  Encountered unknown browser: YaBrowser. A new mapping should be added.
WARNING [2022-09-19 04:18:12] 3740682  Encountered unknown browser: Y

[2022-09-19 04:52] pdechanoz commented on #274
And now when i trie to relaunch  with command line:

  php ./console googleanalyticsimporter:import-reports  --idsite=6
Resuming import into existing site 6.
No dates specified with --dates, importing data from when the GA site was created to today: 2014-02-05
INFO [2022-09-19 04:50:22] 3806809  Using existing custom variable slots.
Importing the following date ranges in order: 2014-02-05,2022-09-

[2022-09-19 04:59] pdechanoz commented on #274
The file log
[gaimportlog.6..log.zip](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/9596232/gaimportlog.6.log.zip)

[2022-09-19 07:33] AltamashShaikh commented on #274
@pdechanoz Do you have a google workspace account, or you have set the OAuth bt creating an `external` APP ?
If yes can you check this [doc](https://matomo.org/faq/general/set-up-google-analytics-import/) again and undo the scopes part and try to publish your App and post that you need to reauthorise via Matomo Admin.

[2022-09-19 07:41] pdechanoz commented on #274
I haven't  a google workspace account. I have created the APP with your tutorial.

[2022-09-19 07:43] AltamashShaikh commented on #274
@pdechanoz Is it published and when did you create a APP more that 7 days ago ?

[2022-09-19 07:47] pdechanoz commented on #274
This APP is not publish, and it's created 14 september
PS : before launch the import i reautorise via Matomo Admin

[2022-09-19 07:53] AltamashShaikh commented on #274
@pdechanoz So for external non published APP the authorisation expires in 7 days and you need to reauthorise again after 7 days, to ease this pain we have updated the [guide](https://matomo.org/faq/general/set-up-google-analytics-import/) which helps in publishing the external apps and published external app do not require authentication every 7 days and from the log file we can say its a authenti

[2022-09-19 08:01] pdechanoz commented on #274
Just a thing :

My APP is in production (not in test) but, not verification

Validation status
Validation not required

[2022-09-19 08:03] AltamashShaikh commented on #274
@pdechanoz And `Analytics Reporting API` and `Google Analytics API` are enabled too correct ?

[2022-09-19 08:07] pdechanoz commented on #274
It's seems
joint : img with utilisation
<img width="1237" alt="Notification_Center" src="https://user-images.githubusercontent.com/9005872/190974910-b5365197-a7cd-4e51-a67f-f01b52ac3cf4.png">

[2022-09-19 08:11] AltamashShaikh commented on #274
@pdechanoz Thanks for all the info..last thing can you reauthorise the APP and re run a import and check the log file ?

[2022-09-19 08:17] pdechanoz commented on #274
It's done.

No dates specified with --dates, importing data from when the GA site was created to today: 2014-02-05
INFO [2022-09-19 08:13:27] 3992837  Using existing custom variable slots.
Importing the following date ranges in order: 2014-02-05,2022-09-18
(Entry #0) is finished, moving on.
Done in Time elapsed: 0.475s. [0 API requests made to GA]

[gaimportlog.6..log.zip](https://github.com/matom

[2022-09-19 08:21] pdechanoz commented on #274
In fact, when i relance a NEW import it's work a few minutes...

But i can't relance an existant import

[2022-09-19 09:30] AltamashShaikh commented on #274
@pdechanoz The log file still shows `UNAUTHENTICATED` error can you please check if its valid `OAuth` file you have uploaded and also which plugin and core version are you using ?
[code]

[2022-09-19 09:46] pdechanoz commented on #274
The json file
{"web":{"client_id":"xxxxxxxxxxxxxxapps.googleusercontent.com","project_id":"matomo-ga-3xxx","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"GOCSPX-xxxxxxxxxxxxxxxxx","redirect_uris":["https://matomo.sudradio.fr/index.php?module=GoogleAn

[2022-09-20 04:28] pdechanoz commented on #274
I have created a new APP on Google  cloud, and started a new import, but i have always the same problem.
[gaimportlog.7..log.zip](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/9604045/gaimportlog.7.log.zip)

[2022-09-20 04:36] justinvelluppillai commented on #274
@samjf do you possibly have any insights here?

[2022-09-20 04:44] pdechanoz commented on #274
In resume :
- I can launch a new import, and this import work a  time. => the Oauth2 connection work
- When the import crash, i can't relaunch them
- if i launch a new import it's work a time ....
- Why the import can't be relaunched ?

 I just want to be able to restart the current import

[2022-09-20 05:37] pdechanoz commented on #274
import restarted automatically :

INFO [2022-09-20 04:11:28] 689872  Total API requests: 3
INFO [2022-09-20 04:11:28] 689872  done: 3 req, 5476 ms, no error
INFO [2022-09-20 04:11:28] 689872  Time elapsed: 5.476s
INFO [2022-09-20 04:11:28] 689872  ---------------------------
INFO [2022-09-20 04:11:28] 689872  SCHEDULED TASKS
INFO [2022-09-20 04:11:28] 689872  Scheduled tasks are disabled with --di

[2022-09-20 05:57] pdechanoz commented on #274
the import is stopped again, without problem Oauth
[gaimportlog.7..log.zip](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/9604480/gaimportlog.7.log.zip)

WARNING [2022-09-20 05:37:14] 723239  Encountered unknown browser: YaBrowser. A new mapping should be added.
WARNING [2022-09-20 05:37:14] 723239  Encountered unknown browser: YaBrowser. A new mapping should be added.
Running

[2022-09-20 06:00] pdechanoz commented on #274
... but i can restart it

[2022-09-20 11:47] MatomoForumNotifications commented on #9
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-on-ga4-import/47441/2

[2022-09-20 11:47] MatomoForumNotifications commented on #8
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/error-on-ga4-import/47441/2

[2022-09-21 13:39] lukerigbx opened #277 "Importing of GA4 data fails in the command line"
I'm trying to import Google Analytics 4 data into Matomo on-premise from the command line. The command seems to be failing right from the outset, however, and I get the error:
[code]
where `[property-id]` is the property-id I have redacted. I am running the command such:
`php ./console googleanalyticsimporter:import-ga4-reports --property=331839734 --dates=2022-06-05,2022-09-22`.

I'm not sure why

[2022-09-21 13:42] AltamashShaikh commented on #277
@lukerigbx Try - `php ./console googleanalyticsimporter:import-ga4-reports --property="properties/331839734" --dates=2022-06-05,2022-09-22`

[2022-09-21 13:46] AltamashShaikh commented on #277
@lukerigbx Updated [doc](https://matomo.org/faq/general/running-the-google-analytics-import/) too.

[2022-09-21 13:46] #277 closed, assigned to nobody

[2022-09-21 14:54] lukerigbx commented on #277
Thanks! That solves that problem, but the importer still throws an error:
[code]

[2022-09-21 15:23] AltamashShaikh commented on #277
@lukerigbx is php-bcmath installed?

[2022-09-21 16:24] lukerigbx commented on #277
@AltamashShaikh, ah! that seemed to be the answer. It works now, thank you!

[2022-09-22 04:38] pdechanoz commented on #274
2 days ago the import stop "_Daily rate limit reached, try again tomorrow..._" It's normal.

But since 2 days i have always this message. The import don't relaunch

The log : [Archive.zip](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/9622235/Archive.zip)

What can I do ?

[2022-09-23 03:31] samjf commented on #274
This message is expected over a 24 hour period until the next day. Since it is being resumed almost each hour according to the logs, then you are getting a lot of daily limit reached messages.

It is clear if you run `grep 'Importing data for GA View' ~/Downloads/Archive/gaimportlog.7..log` that the importer is making progress before meeting its daily limit from Google. You can check your quota us

[2022-09-23 04:15] pdechanoz commented on #274
I deleted the access in google.com/security, I re-authenticated myself, and I relaunched the application, but the problem is the same :

INFO [2022-09-23 04:10:46] 3796436  Using existing custom variable slots.
Importing the following date ranges in order: 2014-02-05,2022-09-22
Importing reports for date range 2022-06-14 - 2022-09-22 from GA view 81857407.
INFO [2022-09-23 04:10:46] 3796436  Impor

[2022-09-23 04:20] pdechanoz commented on #274
My quota :
<img width="1477" alt="image" src="https://user-images.githubusercontent.com/9005872/191891458-e2fea69a-54c7-4186-a610-33cea26e726d.png">

[2022-09-23 04:26] AltamashShaikh commented on #274
@pdechanoz - Refer this #243 to better understand why are you hitting the limits

[2022-09-23 04:48] samjf commented on #274
@pdechanoz I believe you have in fact reached your Google quota for the _view_ potentially. Google has a project quota of `50_000` per day. But also a profile/view quota of `10_000` per day. See here: https://developers.google.com/analytics/devguides/reporting/core/v3/limits-quotas

![image](https://user-images.githubusercontent.com/8619576/191893826-47758f75-0d23-44c0-b84b-aad580c2cb98.png)

Just

[2022-09-23 05:08] pdechanoz commented on #274
he problem is that the quotas are not reset from one day to the next. Today I haven't used anything yet :

<img width="961" alt="image" src="https://user-images.githubusercontent.com/9005872/191895499-27c0bf5f-4fc7-45fd-b14a-89b659a3c005.png">

[2022-09-23 14:55] valentin-ed opened #278 "Upgrade to latest, can't see config anymore"
Hi team,

After upgrade to the latest (Matomo and plugins) i can't see anymore the configuration that have been done previously. The data seems to be still in database but i cant' see it in my admin dashboard.

![2022-09-23_16-54](https://user-images.githubusercontent.com/73354059/191989960-2aaa83cc-c2a8-48ae-9a32-c1650f662ced.png)
![2022-09-23_16-53](https://user-images.githubusercontent.com/7335

[2022-09-26 02:43] AltamashShaikh commented on #278
@valentin-ed I tried checking what could go wrong and the only possible thing is the `GoogleAnalyticsImporter.clientConfiguration` value is not a proper JSON. I tried updating mine to a invalid JSON at last and can see the same.
![Screenshot from 2022-09-26 08-08-00](https://user-images.githubusercontent.com/14902277/192183291-a257639c-d95e-484a-8d81-e8815e879fd4.png)

To confirm that's the case c

[2022-09-26 08:09] valentin-ed commented on #278
How it could be possibly be wrong ? I mean, from the previous version was working well.
The field was "cleaned up" and i manage to find a "workaround" by restoring only field in `matomo_option` with "GoogleAnalytics" in the name.

We can close if you want but maybe some user may have the same issue !

[2022-09-27 02:12] AltamashShaikh commented on #278
@valentin-ed closing for now, we can open this again if others face same issue.

[2022-09-27 02:12] #278 closed, assigned to nobody

[2022-09-27 21:59] Starker3 commented on #272
@AltamashShaikh An issue very similar to this was reported in the forum for the 4.3.3 version where this should be fixed: https://forum.matomo.org/t/google-analytics-import-process-gets-killed-after-1-day/47546

What they're seeing there is that the import starts on the most recent date and goes backwards as expected, but after the quota is reached for that day it doesn't continue the next day.

[2022-09-28 01:58] AltamashShaikh commented on #272
@Starker3 will check this and update you here

[2022-09-28 03:44] AltamashShaikh commented on #272
@Starker3 - created https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/281

[2022-09-28 06:38] pdechanoz commented on #274
Since I started the import on Sept 20, it goes until June 14 and restarts the import from the day before, and so on :
[Archive 2.zip](https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/files/9662157/Archive.2.zip)

INFO [2022-09-27 08:01:03] 3053363  Importing data for GA View 81857407 for date 2022-06-19...
INFO [2022-09-27 08:01:31] 3053363  Importing data for GA View 81857407 for date

[2022-09-28 07:01] AltamashShaikh commented on #274
@pdechanoz Does applying fixes of this branch https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/pull/281 fixes the issue?

[2022-09-28 07:12] pdechanoz commented on #274
Excuse me, but what should I do to apply the patch?
a git clone of the plugin?

[2022-09-28 07:14] AltamashShaikh commented on #274
Hey @pdechanoz you have to update ‘ Commands/ImportReports.php’ the file with this file
https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/6492069a83e587788dabbc73e13977cf91ee6a97/Commands/ImportReports.php

[2022-09-28 07:15] AltamashShaikh commented on #274
@pdechanoz if you are importing any GA4 property please update this Commands/ImportGA4Reports.php file with
https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/blob/6492069a83e587788dabbc73e13977cf91ee6a97/Commands/ImportGA4Reports.php

[2022-09-28 08:29] pdechanoz commented on #274
it works, but it jumped on 2022/06/13

INFO [2022-09-28 07:54:11] 4083348  Importing data for GA View 81857407 for date 2022-06-16...
INFO [2022-09-28 07:54:38] 4083348  Importing data for GA View 81857407 for date 2022-06-15...
**INFO [2022-09-28 07:55:07] 4083348  Importing data for GA View 81857407 for date 2022-06-14...
INFO [2022-09-28 08:05:25] 4129947  Importing data for GA View 81857407 fo

[2022-09-28 08:29] #274 closed, assigned to nobody

[2022-09-28 09:21] PrimeranoC commented on #272
@AltamashShaikh
 have the same problem and can't solve it.
I tried to restart the import by setting a different date range, but it continues to stop due to the limit reached and does not restart the next day. Furthermore, I believe that in redoing the import they are also changing the imported data compared to the previous import.
Do you have any practical suggestions to solve the problem?

[2022-09-28 12:27] AltamashShaikh commented on #272
@PrimeranoC can you apply #281 and check if it solves the issue for you ?

It just helped someone, refer - https://github.com/matomo-org/plugin-GoogleAnalyticsImporter/issues/274#issuecomment-1260565371

[2022-09-28 12:28] MatomoForumNotifications commented on #274
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/google-analytics-import-process-gets-killed-after-1-day/47546/5

[2022-09-28 13:44] PrimeranoC commented on #272
@AltamashShaikh
I am using the cloud version and I am not an IT.
I would expect your plugin to work properly without having to put my hands in the code. Do you plan to solve the problem for all users?

[2022-09-28 13:47] AltamashShaikh commented on #272
@PrimeranoC For cloud you don't have to update anything, the fix will be applied for all the users but before we release a new version we have to be sure that it doesn't regress further and hence checking with user who reported this, whether applying current patch will fix the issue or not.

[2022-09-29 05:16] KarthikRaja1388 opened #282 "Display a message about new site creation during import"
While configuring the import, it would be helpful to display a message in a popup or  banner with a message about the new site creation.

Example:
A new website will be created and all the data will be imported in the site created. Data can not be imported in an existing site.

This is a long message, but it is the crux.

[2022-09-29 06:52] AltamashShaikh commented on #282
Hey @KarthikRaja1388 Its already there
![Screenshot from 2022-09-29 12-22-20](https://user-images.githubusercontent.com/14902277/192960068-54eeaa6f-2359-4dc6-8867-ab68b89a2d69.png)

[2022-09-30 04:40] KarthikRaja1388 commented on #282
@AltamashShaikh Thanks I did not realize it

[2022-09-30 04:47] #282 closed, assigned to nobody

[2022-10-05 15:03] Alwaysin opened #285 "Qwant is not recognized"
Initial tentative https://github.com/matomo-org/searchengine-and-social-list/pull/84 but I've been suggested that it is an issue here.

I'm having this message when importing:

[code]

[2022-10-05 19:58] snake14 commented on #285
Hi @Alwaysin . Thank you for taking the time to create this issue. It looks like Stefan has suggested where the change should probably take place. I'm not familiar enough with the plugin to know what else needs to be changed, so I'm going to mark this issue to be prioritised, unless @AltamashShaikh thinks it will be a quick enough change.

[2022-10-06 14:53] dhensch commented on #272
Hi @AltamashShaikh , I understand how busy everyone is... Do you have a relative update on how long it will be until the GA Import Issue will be resolved for cloud users? I have some client timelines that I would like to meet, and I just want to understand the magnitude of the issue :) thank you

[2022-10-06 14:56] AltamashShaikh commented on #272
Hey @dhensch The new version of the plugin should be live by early next week.
Will update here once I have a better ETA

[2022-10-06 14:58] dhensch commented on #272
@AltamashShaikh  I really appreciate your prompt response, it means a lot. Good Luck!

[2022-10-10 20:07] Starker3 opened #286 "Date Format example not shown in several places"
There are several places where a date can be input but no date format example is given.

For example for the GA3 import:
![image](https://user-images.githubusercontent.com/20905821/194943801-d3b517e2-bcda-46ea-9051-cfff909ed274.png)

GA4 import:
![image](https://user-images.githubusercontent.com/20905821/194943827-b8d0f85e-70b7-4f40-8ce5-87999299f9d4.png)

When clicking "Change Import End Date":
!

[2022-10-11 02:46] AltamashShaikh commented on #272
@PrimeranoC  @dhensch The new version of the plugin was released on cloud today

[2022-10-11 08:06] PrimeranoC commented on #272
Hi @AltamashShaikh
Thanks for the update. The import seems to have started working correctly again.
Thanks so much for the support.

[2022-10-12 13:42] MatomoForumNotifications commented on #285
This issue has been mentioned on **Matomo forums**. There might be relevant details there:

https://forum.matomo.org/t/warnings-during-import-googleanalyticsimporter/47693/2

[2022-10-16 21:04] #286 closed, assigned to snake14

[2022-10-16 21:07] snake14 commented on #286
@Starker3 Thank you for your suggestion. The next release of this plugin should include more hints next to form inputs to make the date format easier to remember.

[2022-10-26 06:30] wolfgang-hartl opened #291 "Cannot Import GA4 Property, saying that the Matomo Site-ID doesn't exist"
Hey there,

I am trying to import an existing GA4 Property, but every time I run the importer a message (exception) get's logged saying that the  Site ID doesn't exist. See the Text from the log below (I've replaced my domain with example.com).

The Installation of Matomo itself worked pretty fine and the system check said that everything is ok and all requirements are fullfilled.
I have no Idea w

[2022-10-26 20:50] snake14 commented on #291
Hi @Wolfi1616 . I'm sorry to hear that you're experiencing this problem. If this error is occurring, it looks like you're providing the `--idsite` parameter when you execute the import command. Is there a specific reason you're doing this? [According to the documentation](https://matomo.org/faq/general/running-the-google-analytics-import/#setup-an-import-using-the-command-line-for-ga4), that optio

[2022-10-26 20:53] #291 closed, assigned to nobody

[2022-11-10 15:32] cspenn opened #296 ""invalid client configuration" with OAuth JSON for GA Importer"
I'm attempting to load a JSON file with my OAuth credentials for the Google Analytics importer and receive the same generic error message:

"Missing or invalid client configuration, please reupload."

I have confirmed the service account is enabled for OAuth on the Google side, the account has rights to the Analytics API, and billing is active. This account works with other OAuth implementations.

[2022-11-11 02:05] peterhashair commented on #296
@AltamashShaikh any idea on that one?

[2022-11-11 02:13] AltamashShaikh commented on #296
@cspenn You are using a service account config and Matomo GA Importer requires an Oauth config to import your GA Data.
You can check this [guide](https://matomo.org/faq/general/set-up-google-analytics-import/) to setup an OAuth credentials and try with that.

[2022-11-11 02:13] #296 closed, assigned to nobody

[2022-11-11 02:15] AltamashShaikh commented on #296
@cspenn Just FYI the valid JSON looks something like this
[code]

[2022-11-11 12:52] cspenn commented on #296
Thanks @AltamashShaikh - I followed those steps and ended up with a "Could not verify the security token on this form." after doing the OAuth authorization.

[2022-11-13 19:59] snake14 commented on #296
Hi @cspenn . Please try refreshing the page and then authorising again. You usually get a security token error if you've been on the page too long before authorising.

[2022-11-14 13:00] cspenn commented on #296
@snake14 Thanks - I refreshed, removed the previous JSON authorization, and tried again from scratch - still no luck. This is what comes back in the URL:

http://mywebsite/index.php?module=GoogleAnalyticsImporter&action=processAuthCode&state=7989ca4479e7a582853b8472825ea51a&code=4/0AfgeXvt2EDH3QJfOTPKP8sL-n5Pme8JIYtob_4lab2Vier4JFwe6mtVZB-DAW0BEqqPthA&scope=https://www.googleapis.com/auth/analytic

[2022-11-14 21:40] snake14 commented on #296
@cspenn That looks like the correct URL as long as the protocol and domain match your Matomo server. Is your Matomo server using `HTTP` and not `HTTPS`? If it's using `HTTPS` you'll need to update your config and upload it again.

[2022-11-15 02:57] AltamashShaikh commented on #296
@cspenn Is your webserver blocking this request by any chance ?

[2022-11-15 12:40] cspenn commented on #296
@snake14  @AltamashShaikh It shouldn't be - I have ufw open for incoming on 80 and 443, and it definitely accepts incoming for both, but I'm using HTTP

[2022-11-16 03:17] AltamashShaikh commented on #296
@cspenn The URL you shared comes after authorization right ?
The behaviour is
Click on Matomo Instance for Authorization -> Request to Google -> Redirects back to Matomo with the above URL
The redirect URL completes the authorization, do you see a blank page when it redirects back ?
If yes can you check is the URL correctly reaches your webserver, for example we have seen in past that apache was b

[2022-11-18 17:57] cspenn commented on #296
@AltamashShaikh Correct. The URL comes after authorization. I load the JSON file, click for the authorization, the browser window goes to Google, I authenticate, and it comes back to the error page - not a blank page. I'll upload a screenshot shortly.

[2022-11-18 18:00] cspenn commented on #296
![Untitled](https://user-images.githubusercontent.com/6747905/202772121-360af873-da64-48f9-a794-634131d23c6f.gif)

[2022-11-18 18:03] cspenn commented on #296
This is what was in my matomo error log:

[Fri Nov 18 17:58:23.728251 2022] [php:notice] [pid 760605] [client 199.36.244.24:56422] [myserverip] Error in Matomo: Invalid redirect_uris, atleast 1 uri should match the uri &quot;http://myserverip/in>

[2022-11-19 05:01] AltamashShaikh commented on #296
@cspenn can you share the content of your file by removing the sensitive data?

Something like this
[code]
Also will it be possible to share the URL where you upload this file?

It will be easy for us to compare and find the issue